<section class="image2" group="Images & Videos" data-bg-video="{{bg.type == 'video' && bg.value.url}}" mbr-class="{'mbr-fullscreen': fullScreen,
                    'mbr-parallax-background': bg.parallax}">
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen">
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="6"
            condition="fullScreen == false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6"
            condition="fullScreen == false">
        <input type="range" name="textWidth" title="Image" min="4" max="8" step="1" value="6">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Description" name="showDescription" checked>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg" parallax>
            <input type="color" title="Color" value="#ffffff" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.7"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>

    <div mbr-class="{'container': !fullWidth}">
        <div class="row align-items-center">
            <div class="col-12 col-lg-{{textWidth}}">
                <div class="image-wrapper">
                    <img src="../_images/hightlights/5.jpg" alt="Mobirise Website Builder">
                    <p class="mbr-description mbr-fonts-style mt-2 align-center" mbr-theme-style="display-4" mbr-if="showDescription"
                        data-app-selector=".mbr-description">
                        Image Description</p>
                </div>
            </div>
            <div class="col-12" mbr-class="{'col-lg' : !fullWidth, 'col-lg-4' : fullWidth && textWidth >= 6, 'col-lg-6' : fullWidth && textWidth <= 5}">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3"
                        data-app-selector=".mbr-section-title" mbr-theme-style="display-5"
                        mbr-if="showTitle">
                        <b>Image with Description</b></h3>
                    <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7" mbr-if="showText"
                        data-app-selector=".mbr-text">
                        Use Mobirise website building software to create multiple sites for commercial and non-profit projects. Click on the image in this block to replace it. You can add a description below your image, or on the side. If you want to hide some of the text fields, open the Block parameters, and uncheck relevant options.</p>
                </div>
            </div>
        </div>
    </div>
</section>