<section class="timeline2" group="Timelines" data-bg-video="{{bg.type == 'video' &&bg.value.url}}"
    mbr-class="{'mbr-parallax-background': bg.parallax}">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" name="fullWidth" title="Full Width">
        <input type="range" inline="" title="Top" name="paddingTop" min="0" max="10" step="1" value="5">
        <input type="range" inline="" title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5">
        <input type="checkbox" title="Reverse Timeline" name="reverseTimeline">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked="">
        <input type="checkbox" title="Subtitle" name="showSubtitle">
        <input type="checkbox" title="Dates" name="showDates" checked="">
        <input type="checkbox" title="Images" name="showImages" checked="">
        <select title="Count" name="timelinesAmount">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected="">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <input type="color" name="lineColor" title="Color" value="#6592e6">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax="">
            <input type="image" title="Image" value="../_images/background3.jpg">
            <input type="color" title="Color" value="#ffffff" selected="">
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked="">
        <input type="color" title="Color" name="overlayColor" value="#ffffff" condition="overlay &&bg.type !== 'color'">
        <input type="range" inline="" title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.7"
            condition="overlay &&bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay &&bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="mbr-section-head" mbr-if="showTitle || showSubtitle">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0" mbr-theme-style="display-2"
                mbr-if="showTitle" data-app-selector=".mbr-section-title">
                <b>Timeline</b>
            </h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2" mbr-theme-style="display-5"
                mbr-if="showSubtitle" data-app-selector=".mbr-section-subtitle">
                Enter subtitle here
            </h4>
        </div>
        <div class="timelines-container mt-4">
            <div class="row timeline-element separline mb-5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Website Builder</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features6.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            You don't have to code to create your own site. Select one of available themes in the Mobirise sitebuilder.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>1">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Mobirise Kit</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features5.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            All sites you create with the Mobirise web builder are mobile-friendly natively. No special actions required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>2">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            Select the theme that suits you. Each theme in the Mobirise site builder contains a set of unique blocks.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>3">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            Use Mobirise website building software to create multiple sites for commercial and non-profit projects.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>4">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            You don't have to code to create your own site. Select one of available themes in the Mobirise sitebuilder.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>5">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            All sites you create with the Mobirise web builder are mobile-friendly natively. No special actions required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>6">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            Select the theme that suits you. Each theme in the Mobirise site builder contains a set of unique blocks.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>7">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            Use Mobirise website building software to create multiple sites for commercial and non-profit projects.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>8">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            You don't have to code to create your own site. Select one of available themes in the Mobirise sitebuilder.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>9">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            All sites you create with the Mobirise web builder are mobile-friendly natively. No special actions required.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>10">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            Select the theme that suits you. Each theme in the Mobirise site builder contains a set of unique blocks.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline mb-5" mbr-if="timelinesAmount>11">
                <div class="timeline-date-panel col-12 col-md-4">
                    <div class="time-line-date-content">
                        <h4 class="mbr-timeline-date mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showDates"
                            data-app-selector=".mbr-timeline-date">
                            <b>23 April 2025</b>
                        </h4>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-12 col-md-8">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title mb-4 mbr-fonts-style" mbr-theme-style="display-5"
                            data-app-selector=".mbr-timeline-title">
                            <b>Introductory Lesson</b>
                        </h4>
                        <div class="image-wrapper mb-4" mbr-if="showImages">
                            <img src="../_images/features/features4.jpg" alt="Mobirise Website Builder" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".mbr-timeline-text">
                            Use Mobirise website building software to create multiple sites for commercial and non-profit projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>