<section class="team1" group="Team" data-bg-video="{{bg.type == 'video' && bg.value.url}}"
    mbr-class="{'mbr-parallax-background':bg.parallax}">
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" name="fullWidth" title="Full Width">
        <input inline type="range" title="Top" name="paddingTop" min="0" max="8" step="1" value="6">
        <input inline type="range" title="Bottom" name="paddingBottom" min="0" max="8" step="1" value="6">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Text" name="showText">
        <select title="Columns" name="columns">
            <option value="3">4</option>
            <option value="4" selected>3</option>
            <option value="6">2</option>
            <option value="12">1</option>
        </select>
        <header>Card</header>
        <input type="checkbox" title="Name" name="showName" checked>
        <input type="checkbox" title="Role" name="showRole" checked>
        <input type="checkbox" title="Text" name="showCardText" checked>
        <input type="checkbox" title="Buttons" name="showCardButtons">
        <input type="color" title="BG" name="cardBg" value="#ffffff">
        <header condition="showSocial">Social</header>
        <input type="checkbox" title="Social" name="showSocial" checked>
        <input type="range" name="socialCount" title="Count" min="1" max="5" step="1" value="3" condition="showSocial">
        <input type="color" title="Color" name="socialIconColor" value="#6592e6" condition="showSocial">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg" parallax>
            <input type="color" title="Color" value="#fafafa" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" checked condition="bg.type !== 'color'">
        <input type="color" title="Overlay Color" name="overlayColor" value="#000000"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="col-12" mbr-if="showTitle || showSubtitle">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4" mbr-theme-style="display-2"
                    mbr-if="showTitle" data-app-selector=".mbr-section-title">
                    <b>Our team</b>
                </h3>
                <p class="mbr-section-subtitle mbr-fonts-style align-center mb-5" mbr-theme-style="display-5"
                    mbr-if="showText" data-app-selector=".mbr-section-subtitle">
                    Meet our team
                </p>
            </div>
            <div class="item features-image mb-4 col-12 col-md-{{columns}}">
                <div class="item-wrapper">
                    <div class="image-wrap">
                        <img src="../_images/people/team1.jpg" alt="Mobirise Website Builder">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0"
                            mbr-theme-style="display-5" mbr-if="showName" data-app-selector=".card-title, .social-row">
                            <b>John Smith</b>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3" mbr-theme-style="display-4"
                            mbr-if="showRole" data-app-selector=".mbr-role, .social-row">
                            <b>Programmer</b>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center"
                            data-app-selector=".card-text, .mbr-section-btn, .social-row" mbr-theme-style="display-7"
                            mbr-if="showCardText">
                            No special actions required, all sites you make with Mobirise are mobile-friendly.
                        </p>
                        <div class="social-row display-7" mbr-if="showSocial">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>1">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>2">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>3">
                                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-youtube"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>4">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-telegram"></span>
                                </a>
                            </div>
                        </div>
                        <div class="mbr-section-btn card-btn align-center" mbr-buttons data-toolbar="-mbrBtnMove"
                            mbr-if="showCardButtons" mbr-theme-style="display-4">
                            <a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text">View
                                Profile</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item features-image mb-4 col-12 col-md-{{columns}}">
                <div class="item-wrapper">
                    <div class="image-wrap">
                        <img src="../_images/people/team2.jpg" alt="Mobirise Website Builder">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0"
                            mbr-theme-style="display-5" mbr-if="showName" data-app-selector=".card-title, .social-row">
                            <b>Sarah Palmer</b>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3" mbr-theme-style="display-4"
                            mbr-if="showRole" data-app-selector=".mbr-role, .social-row">
                            <b>Manager</b>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center"
                            data-app-selector=".card-text, .mbr-section-btn, .social-row" mbr-theme-style="display-7"
                            mbr-if="showCardText">
                            Use Mobirise website building software to create multiple sites for your clients.
                        </p>
                        <div class="social-row display-7" mbr-if="showSocial">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>1">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>2">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>3">
                                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-youtube"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>4">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-telegram"></span>
                                </a>
                            </div>
                        </div>
                        <div class="mbr-section-btn card-btn align-center" mbr-buttons data-toolbar="-mbrBtnMove"
                            mbr-if="showCardButtons" mbr-theme-style="display-4">
                            <a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text">View
                                Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item features-image mb-4 col-12 col-md-{{columns}}">
                <div class="item-wrapper">
                    <div class="image-wrap">
                        <img src="../_images/people/team3.jpg" alt="Mobirise Website Builder">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0"
                            mbr-theme-style="display-5" mbr-if="showName" data-app-selector=".card-title, .social-row">
                            <b>Jessica Swift</b>
                        </h5>
                        <h6 class="mbr-role mbr-fonts-style align-center mb-3" mbr-theme-style="display-4"
                            mbr-if="showRole" data-app-selector=".mbr-role, .social-row">
                            <b>Analyst</b>
                        </h6>
                        <p class="card-text mbr-fonts-style align-center"
                            data-app-selector=".card-text, .mbr-section-btn, .social-row" mbr-theme-style="display-7"
                            mbr-if="showCardText">
                            Create multiple pages. Don't forget to set links to your pages after creating them.
                        </p>
                        <div class="social-row display-7" mbr-if="showSocial">
                            <div class="soc-item">
                                <a href="https://www.facebook.com/Mobirise/" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-facebook"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>1">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-twitter"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>2">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-instagram"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>3">
                                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-youtube"></span>
                                </a>
                            </div>
                            <div class="soc-item" mbr-if="socialCount>4">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span mbr-icon class="mbr-iconfont socicon socicon-telegram"></span>
                                </a>
                            </div>
                        </div>
                        <div class="mbr-section-btn card-btn align-center" mbr-buttons data-toolbar="-mbrBtnMove"
                            mbr-if="showCardButtons" mbr-theme-style="display-4">
                            <a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text">View
                                Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>