<section class="gallery1" group="Sliders & Galleries">
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="6">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6">
        <select title="Columns" name="cardsWidth">
            <option value="12">1</option>
            <option value="6" selected>2</option>
            <option value="4">3</option>
            <option value="3">4</option>
        </select>
        <header>Show/Hide</header>
        <input type="checkbox" name="showTitle" title="Title" checked>
        <input type="checkbox" name="showSubtitle" title="Subtitle">
        <header>Cards</header>
        <input type="checkbox" name="autoSize" title="Auto Size">
        <input type="range" name="imageHeight" title="Height" min="1" max="5" step="1" value="3"
            condition="autoSize && !(showButtons==false && showCardSubtitle==false && showCardTitle==false && showText==false)">
        <input type="checkbox" title="Spacing" name="spacing">
        <input type="checkbox" name="showCardTitle" title="Title">
        <input type="checkbox" name="showCardSubtitle" title="Subtitle">
        <input type="checkbox" name="showText" title="Text">
        <input type="checkbox" name="showButtons" title="Buttons">
        <input type="color" name="cardsBg" title="BG" value="#fafafa">
        <header>Background</header>
        <fieldset type="background" name="bg" required>
            <input type="image" title="Image" value="../_images/background3.jpg">
            <input type="color" title="Color" value="#ffffff" selected>
        </fieldset>
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#fafafa"
            condition="overlay && bg.type == 'image'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.1"
            condition="overlay && bg.type == 'image'">
    </mbr-parameters>
    <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'"></div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="mbr-section-head" mbr-if="showTitle || showSubtitle">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0" mbr-theme-style="display-2"
                mbr-if="showTitle" data-app-selector=".mbr-section-title">
                <b>Gallery</b></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2" mbr-theme-style="display-5"
                mbr-if="showSubtitle" data-app-selector=".mbr-section-subtitle">
                Gallery Subtitle</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-{{cardsWidth}}">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../_images/features/features1.jpg" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content" mbr-if="showCardTitle || showCardSubtitle || showText || showButtons">
                        <h5 class="item-title mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".item-title" mbr-if="showCardTitle">
                            <b>Card Title</b>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1" mbr-theme-style="display-7"
                            data-app-selector=".item-subtitle" mbr-if="showCardSubtitle">
                            <i>Card Subtitle</i>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mt-3" mbr-if="showText" mbr-theme-style="display-7"
                            data-app-selector=".mbr-text, .mbr-section-btn">
                            Card Text. You don't have to code to create a site. Select one of available themes in the
                            Mobirise Site Builder.
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2" mbr-if="showButtons"
                        data-toolbar="-mbrBtnMove,-mbrBtnAdd" mbr-buttons mbr-theme-style="display-7"><a href
                            class="btn btn-primary item-btn" target="_blank" data-app-placeholder="Type Text">Learn
                            more</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-{{cardsWidth}}">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../_images/features/features2.jpg" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content" mbr-if="showCardTitle || showCardSubtitle || showText || showButtons">
                        <h5 class="item-title mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".item-title" mbr-if="showCardTitle">
                            <b>Card Title</b>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1" mbr-theme-style="display-7"
                            data-app-selector=".item-subtitle" mbr-if="showCardSubtitle">
                            <i>Card Subtitle</i>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mt-3" mbr-if="showText" mbr-theme-style="display-7"
                            data-app-selector=".mbr-text, .mbr-section-btn">Card Text. You don't have to code to create
                            a site. Select one of available themes in the Mobirise Site Builder.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2" mbr-if="showButtons"
                        data-toolbar="-mbrBtnMove,-mbrBtnAdd" mbr-buttons mbr-theme-style="display-7"><a href
                            class="btn btn-primary item-btn" target="_blank" data-app-placeholder="Type Text">Learn
                            more</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-{{cardsWidth}}">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../_images/features/features3.jpg" alt="Mobirise Website Builder">
                    </div>
                    <div class="item-content" mbr-if="showCardTitle || showCardSubtitle || showText || showButtons">
                        <h5 class="item-title mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".item-title" mbr-if="showCardTitle">
                            <b>Card Title</b>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1" mbr-theme-style="display-7"
                            data-app-selector=".item-subtitle" mbr-if="showCardSubtitle">
                            <i>Card Subtitle</i>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mt-3" mbr-if="showText" mbr-theme-style="display-7"
                            data-app-selector=".mbr-text, .mbr-section-btn">Card Text. You don't have to code to create
                            a site. Select one of available themes in the Mobirise Site Builder.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2" mbr-if="showButtons"
                        data-toolbar="-mbrBtnMove,-mbrBtnAdd" mbr-buttons mbr-theme-style="display-7">
                        <a href class="btn btn-primary item-btn" target="_blank">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-{{cardsWidth}}">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="../_images/features/features4.jpg"
                        alt="Mobirise Website Builder" title>
                    </div>
                    <div class="item-content" mbr-if="showCardTitle || showCardSubtitle || showText || showButtons">
                        <h5 class="item-title mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".item-title" mbr-if="showCardTitle">
                            <b>Card Title</b>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1" mbr-theme-style="display-7"
                            data-app-selector=".item-subtitle" mbr-if="showCardSubtitle">
                            <i>Card Subtitle</i>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mt-3" mbr-if="showText" mbr-theme-style="display-7"
                            data-app-selector=".mbr-text, .mbr-section-btn">Card Text. You don't have to code to create
                            a site. Select one of available themes in the Mobirise Site Builder.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2" mbr-if="showButtons"
                        data-toolbar="-mbrBtnMove,-mbrBtnAdd" mbr-buttons mbr-theme-style="display-7"><a href
                            class="btn btn-primary item-btn" target="_blank" data-app-placeholder="Type Text">Learn
                            more</a></div>
                </div>
            </div>
        </div>
    </div>
</section>