<section class="features10" group="Features" data-bg-video="{{bg.type == 'video' && bg.value.url}}"
    mbr-class="{'mbr-parallax-background': bg.parallax}">
    <!---->
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline="" title="Top" name="paddingTop" min="0" max="10" step="1" value="6">
        <input type="range" inline="" title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked="">
        <input type="checkbox" title="Subtitle" name="showSubtitle">
        <header>Cards</header>
        <input type="checkbox" title="Title" name="showTitleCard" checked="">
        <input type="checkbox" title="Text" name="showText" checked="">
        <input type="color" title="Background" name="cardsBg" value="#fafafa">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax="">
            <input type="image" title="Image" value="../_images/background5.jpg">
            <input type="color" title="Color" value="#ffffff" selected="">
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" checked="" condition="bg.type !== 'color'">
        <input type="color" title="Overlay Color" name="overlayColor" value="#bed3f9"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline="" title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="mbr-section-head" mbr-if="showTitle || showSubtitle">
            <h3 mbr-if="showTitle" class="mbr-section-title mbr-fonts-style mb-0" data-app-selector=".mbr-section-title"
                mbr-theme-style="display-2">
                <b>Product List</b>
            </h3>
            <h4 mbr-if="showSubtitle" data-app-selector=".mbr-section-subtitle"
                class="mbr-section-subtitle mbr-fonts-style mb-0 mt-2" mbr-theme-style="display-5">
                Subtitle
            </h4>
        </div>
        <div class="row mt-4">
            <div class="item features-without-image col-12">
                <div class="item-wrapper">
                    <div class="top-line row" mbr-if="showTitleCard">
                        <div class="col">
                            <h4 class="card-title mbr-fonts-style" mbr-theme-style="display-5"
                                data-app-selector=".card-title"><b>Special Issue</b></h4>
                        </div>
                        <div class="col-auto">
                            <p class="price mbr-fonts-style" mbr-theme-style="display-5" data-app-selector=".price">
                                $39</p>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style " mbr-theme-style="display-7" mbr-if="showText"
                            data-app-selector=".mbr-text">
                            Themes in the Mobirise website builder offer multiple blocks: intros, sliders, galleries,
                            forms, articles, and so on. Start a project and click on the red plus buttons to see the
                            blocks available for your theme.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12">
                <div class="item-wrapper">
                    <div class="top-line row" mbr-if="showTitleCard">
                        <div class="col">
                            <h4 class="card-title mbr-fonts-style" mbr-theme-style="display-5"
                                data-app-selector=".card-title"><b>Special Issue</b></h4>
                        </div>
                        <div class="col-auto">
                            <p class="price mbr-fonts-style" mbr-theme-style="display-5" data-app-selector=".price">
                                $39</p>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style " mbr-theme-style="display-7" mbr-if="showText"
                            data-app-selector=".mbr-text">
                            Themes in the Mobirise website builder offer multiple blocks: intros, sliders, galleries,
                            forms, articles, and so on. Start a project and click on the red plus buttons to see the
                            blocks available for your theme.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12">
                <div class="item-wrapper">
                    <div class="top-line row" mbr-if="showTitleCard">
                        <div class="col">
                            <h4 class="card-title mbr-fonts-style" mbr-theme-style="display-5"
                                data-app-selector=".card-title"><b>Special Issue</b></h4>
                        </div>
                        <div class="col-auto">
                            <p class="price mbr-fonts-style" mbr-theme-style="display-5" data-app-selector=".price">
                                $39</p>
                        </div>
                    </div>
                    <div class="bottom-line">
                        <p class="mbr-text mbr-fonts-style " mbr-theme-style="display-7" mbr-if="showText"
                            data-app-selector=".mbr-text">Themes in the Mobirise website builder offer multiple blocks:
                            intros, sliders, galleries, forms, articles, and so on. Start a project and click on the red
                            plus buttons to see the blocks available for your theme.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>