<section class="image03" group="Image & Video">
    <mbr-parameters>
        <header>Size</header>
        <input type="range" inline="" title="Top" name="paddingTop" min="0" max="10" value="0" step="1">
        <input type="range" inline="" title="Bottom" name="paddingBottom" min="0" max="10" value="0" step="1">
        <header>Show/Hide</header>
        <input type="checkbox" title="Caption" name="showText">
        <header>Background</header>
        <input type="color" title="Color" name="bgColor" value="#ffffff">
    </mbr-parameters>

    <div class="image-block m-auto">
        <img src="../_images/background4.jpg" alt="Mobirise">
        <div mbr-if="showText">
            <p class="mbr-text mt-4 pb-4 align-center mbr-fonts-style"
                mbr-theme-style="display-7"
                data-app-selector=".mbr-text">
                Unlock your true path!
            </p>
        </div>
    </div>
</section>