<section class="header4" group="Headers" mbr-class="{'mbr-fullscreen': fullScreen,
'mbr-parallax-background': bg.parallax}">

    <mbr-parameters>
        <!-- Block parameters controls (Blue "Gear" panel) -->
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen" checked>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="9" step="1" value="6"
            condition="fullScreen == false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="9" step="1" value="6"
            condition="fullScreen == false">
        <input type="range" inline title="Content Width" name="contentWidth" min="20" max="100" step="1" value="51">
        <header>Show / Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Subtitle" name="showSubtitle">
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Buttons" name="showButtons" checked>
        <select title="Vertical Align" name="verticalAlign" condition="fullScreen">
            <option value="flex-start">Top</option>
            <option value="center">Center</option>
            <option value="flex-end" selected>Bottom</option>
        </select>
        <select title="Horizontal Align" name="horizontalAlign">
            <option value="flex-start" selected>Left</option>
            <option value="center">Center</option>
            <option value="flex-end">Right</option>
        </select>

        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Background Image" value="../_images/background12.jpg" selected>
            <input type="color" title="Background Color" value="#353535">
        </fieldset>

        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type!='color'">
        <input type="color" title="Overlay Color" name="overlayColor" value="#353535"
            condition="bg.type!='color' && overlay">
        <input type="range" inline title="Overlay Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5"
            condition="bg.type!='color' && overlay">
        <!-- End block parameters -->
    </mbr-parameters>
    <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'"></div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row">
            <div class="content-wrap">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3" mbr-theme-style="display-1"
                    data-app-selector=".mbr-section-title" mbr-if="showTitle">
                    <b>New Possibilities</b>
                </h1>
                <h2 class="mbr-section-title mbr-fonts-style mbr-white mb-3" data-app-selector=".mbr-section-title"
                    mbr-theme-style="display-2" mbr-if="showSubtitle">Header Subtitle</h2>
                <p class="mbr-fonts-style mbr-text mbr-white mb-3" mbr-theme-style="display-7" mbr-if="showText"
                    data-app-selector=".mbr-text, .mbr-section-btn">
                    Block with flexible configuration, free vertical and horizontal content movement (only when
                    full screen is on)
                </p>

                <div class="mbr-section-btn" mbr-if="showButtons" data-toolbar="-mbrBtnMove" mbr-buttons=""
                    mbr-theme-style="display-4">
                    <a class="btn btn-primary" href="https://mobiri.se">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>