<section class="testimonails3 carousel slide testimonials-slider" group="Testimonials"
    data-bg-video="{{bg.type == 'video' && bg.value.url}}" mbr-class="{'mbr-parallax-background': bg.parallax}"
    plugins="BootstrapCarouselSwipe,mbr-testimonials-slider" data-interval="false">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" name="fullWidth" title="Full Width">
        <input type="range" title="Padding Top" name="paddingTop" min="0" max="8" step="1" value="6" inline="">
        <input type="range" title="Padding Bottom" name="paddingBottom" min="0" max="8" step="1" value="6" inline="">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked="">
        <input type="checkbox" title="Author Name" name="showName" checked="">
        <input type="checkbox" title="Author Title" name="showDesk" checked="">
        <header>Slides</header>
        <input type="range" inline="" title="Items" name="testimonialsSlides" min="1" max="20" step="1" value="2">
        <input type="checkbox" title="Autoplay" name="showAutoplay" checked="">
        <input type="range" inline="" title="Interval" name="interval" min="1" max="8" step="1"
            value="5000" condition="showAutoplay">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax="">
            <input type="image" title="Image" value="../_images/background1.jpg">
            <input type="color" title="Color" value="#ffffff" selected="">
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked="">
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline="" title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.9"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>

    <div class="text-center" mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <h3 class="mb-4 mbr-fonts-style" mbr-theme-style="display-2" mbr-if="showTitle">
            <b>What Our Fantastic Users Say</b>
        </h3>

        <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false"
            data-ride="{{showAutoplay ? 'carousel' : 'false'}}" data-interval="{{showAutoplay ? interval*1000 : 'false'}}">
            <div mbr-list="" mbr-list-grow="testimonialsSlides" class="carousel-inner">
                <div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="../_images/people/team3.jpg" alt="Mobirise Website Builder">
                        </div>
                        <div class="user_text mb-4">
                            <p class="mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".user_text">
                                Themes in the Mobirise website builder offer multiple blocks: intros, sliders, galleries, forms, articles, and so on. Start a project and click on the red plus buttons to see the blocks available for your theme.
                            </p>
                        </div>
                        <div mbr-text="" class="user_name mbr-fonts-style mb-2" mbr-theme-style="display-7"
                            mbr-if="showName" data-app-selector=".user_name">
                            <b>Alexa</b>
                        </div>
                        <div mbr-text="" class="user_desk mbr-fonts-style" mbr-theme-style="display-7" mbr-if="showDesk"
                            data-app-selector=".user_desk">
                            DESIGNER
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="../_images/people/team2.jpg" alt="Mobirise Website Builder">
                        </div>
                        <div class="user_text mb-4">
                            <p class="mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".user_text">
                                Themes in the Mobirise website builder offer multiple blocks: intros, sliders, galleries, forms, articles, and so on. Start a project and click on the red plus buttons to see the blocks available for your theme.
                            </p>
                        </div>
                        <div mbr-text="" class="user_name mbr-fonts-style mb-2" mbr-theme-style="display-7"
                            mbr-if="showName" data-app-selector=".user_name">
                            <b>Linda</b>
                        </div>
                        <div mbr-text="" class="user_desk mbr-fonts-style" mbr-theme-style="display-7" mbr-if="showDesk"
                            data-app-selector=".user_desk">
                            DEVELOPER
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>