<section
  class="header16"
  group="Headers"
  data-bg-video="{{bg.type == 'video' && bg.value.url}}"
  mbr-class="{
    'mbr-fullscreen': fullScreen,
    'mbr-parallax-background': bg.parallax}"
>
  <mbr-parameters>
    <header>Size</header>
    <input type="checkbox" title="Full Screen" name="fullScreen" />
    <input type="checkbox" title="Full Width" name="fullWidth" />
    <input
      type="range"
      inline
      title="Top"
      name="paddingTop"
      min="0"
      max="12"
      step="1"
      value="6"
      condition="fullScreen == false"
    />
    <input
      type="range"
      inline
      title="Bottom"
      name="paddingBottom"
      min="0"
      max="12"
      step="1"
      value="6"
      condition="fullScreen == false"
    />
    <input
      type="range"
      name="imageWidth"
      title="Image Width"
      min="4"
      max="12"
      step="1"
      value="8"
      condition="showImage"
    />

    <header>Show/Hide</header>
    <input type="checkbox" title="Title" name="showTitle" checked />
    <input type="checkbox" title="Text" name="showText" checked />
    <input type="checkbox" title="Image" name="showImage" checked />
    <input
      type="range"
      inline
      title="Menu Items"
      name="menuItems"
      min="0"
      max="10"
      step="1"
      value="4"
    />

    <header>Background</header>
    <fieldset type="background" name="bg" parallax>
      <input type="image" title="Image" value="../_images/background1.jpg" />
      <input type="color" title="Color" value="#260a30" selected />
      <input type="video" title="Video" value="https://vimeo.com/428046504" />
    </fieldset>
    <header condition="bg.type === 'video'">Fallback Image</header>
    <input
      type="image"
      title="Fallback Image"
      value="../_images/background1.jpg"
      name="fallBackImage"
      condition="bg.type === 'video'"
    />
    <input
      type="checkbox"
      title="Overlay"
      name="overlay"
      condition="bg.type !== 'color'"
    />
    <input
      type="color"
      title="Overlay Color"
      name="overlayColor"
      value="#ffffff"
      condition="overlay && bg.type !== 'color'"
    />
    <input
      type="range"
      inline
      title="Opacity"
      name="overlayOpacity"
      min="0"
      max="1"
      step="0.1"
      value="0.5"
      condition="overlay && bg.type !== 'color'"
    />
  </mbr-parameters>

  <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
  <div
    class="mbr-overlay"
    mbr-if="overlay && bg.type !== 'color'"
    opacity="{{overlayOpacity}}"
    bg-color="{{overlayColor}}"
  ></div>

  <div
    class="text-center"
    mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}"
  >
    <div class="row justify-content-center mb-4" mbr-if="showImage">
      <div class="col-12 col-lg-{{imageWidth}}">
        <div class="image-wrap" mbr-if="showImage">
          <img
            src="../_images/hightlights/10.jpg"
            alt="Mobirise Website Builder"
          />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 content-head">
        <h1
          class="mbr-section-title mbr-fonts-style mt-4"
          data-app-selector=".mbr-section-title"
          mbr-theme-style="display-2"
          mbr-if="showTitle"
        >
          <b>Unleash your inner maverick</b>
        </h1>
        <p
          class="mbr-text mbr-fonts-style mt-4"
          mbr-theme-style="display-7"
          mbr-if="showText"
          data-app-selector=".mbr-text, .mbr-section-btn"
        >
          Intro with an image above text. Click on the image to replace it. Key
          differences from traditional website builders: Minimalistic, extremely
          easy-to-use interface; Mobile-friendliness, latest website blocks and
          techniques "out-the-box"; Free for commercial and non-profit use.
        </p>
        <div class="row-links mt-4" mbr-if="menuItems > 0">
          <ul class="header-menu" mbr-list mbr-list-grow="menuItems">
            <li
              mbr-text
              class="header-menu-item mbr-fonts-style"
              mbr-theme-style="display-5"
              data-app-selector="header-menu-item"
            >
              <a href="#" class="text-secondary">Shop</a>
            </li>
            <li
              mbr-text
              class="header-menu-item mbr-fonts-style"
              mbr-theme-style="display-5"
              data-app-selector="header-menu-item"
            >
              <a href="#" class="text-secondary">Collections</a>
            </li>
            <li
              mbr-text
              class="header-menu-item mbr-fonts-style"
              mbr-theme-style="display-5"
              data-app-selector="header-menu-item"
            >
              <a href="#" class="text-secondary">About</a>
            </li>
            <li
              mbr-text
              class="header-menu-item mbr-fonts-style"
              mbr-theme-style="display-5"
              data-app-selector="header-menu-item"
            >
              <a href="#" class="text-secondary">Press</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
