$navbar-top--height: 60px;
$navbar-top--small-height: 55px;
$sidebar--width: 260px;
$sidebar--left-offset: 1rem; // Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$big-and-up: "only screen and (min-width : #{$large-screen-up})" !default; //component-filter
$transition: all .2s ease-in-out;
$border-radius: 8px;
$nav-bars-shadow: 0 0 25px 0 rgba(45, 69, 95, .1);

$scaleTemplate: .25;
$scaleTemplateFactor: 1 / $scaleTemplate;
$scaledTemplatePadding: 30px * $scaleTemplateFactor;

$scaleBigTemplate: .5;
$scaleBigTemplateFactor: 1 / $scaleBigTemplate;
$scaledBigTemplatePadding: 30px * $scaleBigTemplateFactor;

$shadows: "0 0 0 0 transparent", "0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)", "0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)", "0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)", "0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)", "0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)", "0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)";
@mixin shadow($size: 1, $important: false) {
    @if $important != false {
        box-shadow: #{nth($shadows, $size + 1)} !important;
    } @else {
        box-shadow: #{nth($shadows, $size + 1)};
    }
}