<section class="tabs content18" group="Content" data-bg-video="{{bg.type == 'video'&&bg.value.url}}"
    mbr-class="{'mbr-parallax-background':bg.parallax}" plugins="mbr-tabs">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" name="fullWidth" title="Full Width">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="6">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6">
        <input type="range" name="textWidth" title="Width" min="4" max="12" value="8" step="1">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Subtitle" name="showSubtitle">
        <header>Tabs</header>
        <select title="Count" name="bootstrapTabs">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <input type="color" name="tabsColor" title="Color" value="#000000">
        <input type="color" name="activeColor" title="Active Color" value="#6592e6">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg">
            <input type="color" title="Color" value="#ffffff" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay&&bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.7"
            condition="overlay&&bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay&&bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center" mbr-if="showTitle || showSubtitle">
            <div class="col-12 col-md-{{textWidth}}">
                <h3 class="mbr-section-title mb-0 mbr-fonts-style" mbr-theme-style="display-2" mbr-if="showTitle">
                    <b>Tabs</b></h3>
                <h4 class="mbr-section-subtitle mb-0 mt-2 mbr-fonts-style" mbr-theme-style="display-5"
                    mbr-if="showSubtitle">Tabs Subtitle</h4>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-{{textWidth}}">
                <ul class="nav nav-tabs mb-4" role="tablist">
                    <li mbr-buttons mbr-theme-style="display-7" class="nav-item first mbr-fonts-style"
                        data-toolbar="-mbrBtnAdd,-mbrBtnMove,-mbrLink,-mbrBtnRemove,-iconFont">
                        <a class="nav-link mbr-fonts-style show active" role="tab" data-toggle="tab" href="#tab1"
                            data-app-placeholder="Type Text" aria-selected="true">
                            <strong>Programming</strong>
                        </a>
                    </li>
                    <li mbr-buttons mbr-theme-style="display-7" class="nav-item" mbr-if="bootstrapTabs > 1"
                        data-toolbar="-mbrBtnAdd,-mbrBtnMove,-mbrLink,-mbrBtnRemove,-iconFont">
                        <a class="nav-link mbr-fonts-style" role="tab" data-toggle="tab" href="#tab2"
                            data-app-placeholder="Type Text" aria-selected="true">
                            <strong>Research</strong>
                        </a>
                    </li>
                    <li mbr-buttons mbr-theme-style="display-7" class="nav-item" mbr-if="bootstrapTabs > 2"
                        data-toolbar="-mbrBtnAdd,-mbrBtnMove,-mbrLink,-mbrBtnRemove,-iconFont">
                        <a class="nav-link mbr-fonts-style" role="tab" data-toggle="tab" href="#tab3"
                            data-app-placeholder="Type Text" aria-selected="true">
                            <strong>Development</strong>
                        </a>
                    </li>
                    <li mbr-buttons mbr-theme-style="display-7" class="nav-item" mbr-if="bootstrapTabs > 3"
                        data-toolbar="-mbrBtnAdd,-mbrBtnMove,-mbrLink,-mbrBtnRemove,-iconFont">
                        <a class="nav-link mbr-fonts-style" role="tab" data-toggle="tab" href="#tab4"
                            data-app-placeholder="Type Text" aria-selected="true">
                            <strong>Phases</strong>
                        </a>
                    </li>
                    <li mbr-buttons mbr-theme-style="display-7" class="nav-item" mbr-if="bootstrapTabs > 4"
                        data-toolbar="-mbrBtnAdd,-mbrBtnMove,-mbrLink,-mbrBtnRemove,-iconFont">
                        <a class="nav-link mbr-fonts-style" role="tab" data-toggle="tab" href="#tab5"
                            data-app-placeholder="Type Text" aria-selected="true">
                            <b>Design</b>
                        </a>
                    </li>
                    <li mbr-buttons mbr-theme-style="display-7" class="nav-item" mbr-if="bootstrapTabs > 5"
                        data-toolbar="-mbrBtnAdd,-mbrBtnMove,-mbrLink,-mbrBtnRemove,-iconFont">
                        <a class="nav-link mbr-fonts-style" role="tab" data-toggle="tab" href="#tab6"
                            data-app-placeholder="Type Text" aria-selected="true">
                            <b>Architecture</b>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane in active" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7">
                                    Mobirise is a free offline app for Windows and Mac to easily create small/medium
                                    websites, landing pages, online resumes and portfolios. 3100+ beautiful website
                                    blocks, templates and themes help you to start easily.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab-pane" role="tabpanel" mbr-if="bootstrapTabs > 1">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7">
                                    Mobile web traffic overtook desktop one in 2016 and will only grow, and that's why
                                    it's important to create websites that look good on all devices. No special actions
                                    required, all sites you make with the Builder are mobile-friendly. You don't have to
                                    create a special mobile version of your website, it will adapt automagically. </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab3" class="tab-pane" role="tabpanel" mbr-if="bootstrapTabs > 2">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7">
                                    Mobirise is an easy and simple free website builder - just drop site elements to
                                    your page, add content and style it to look the way you like.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab4" class="tab-pane" role="tabpanel" mbr-if="bootstrapTabs > 3">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7">
                                    Free Website Builder offers a huge collection of 2500+ website blocks, templates and
                                    themes with thousands flexible options. Combine blocks from different themes to
                                    create a unique mix.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab5" class="tab-pane" role="tabpanel" mbr-if="bootstrapTabs > 4">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7">
                                    Free Website Builder offers a huge collection of 2500+ website blocks, templates and
                                    themes with thousands flexible options. Combine blocks from different themes to
                                    create a unique mix.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab6" class="tab-pane" role="tabpanel" mbr-if="bootstrapTabs > 5">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7">
                                    Free Website Builder offers a huge collection of 2500+ website blocks, templates and
                                    themes with thousands flexible options. Combine blocks from different themes to
                                    create a unique mix.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>