padding-top: (@paddingTop * 1rem);
padding-bottom: (@paddingBottom * 1rem);

& when (@bg-type ="color") {
  background-color: @bg-value;
}

& when (@bg-type ="image") {
  background-image: url(@bg-value);

  & when (@overlay) {
    .mbr-overlay {
      background: @overlayColor;
      opacity: @overlayOpacity;
    }
  }
}

.item-mb {
  margin-bottom: 2rem;

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.item-head {
  background: @cardsHead;
  padding: 2.25rem;

  @media (min-width: 992px) and (max-width: 1200px) {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}

.item-content {
  padding: 2.25rem 2.25rem 0;
  background: @cardsBg;

  @media (min-width: 992px) and (max-width: 1200px) {
    padding: 0rem 1.5rem;
  }

  @media (max-width: 767px) {
    padding: 0rem 1.5rem;
  }
}

.item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: @cardsBg;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .item-footer {
      padding: 0 1.5rem 3rem;
    }
  }

  @media (min-width: 1201px) {
    .item-footer {
      padding: 0 2rem 3rem;
    }
  }
}

.btn {
  width: -webkit-fill-available;
}

.item:focus,
span:focus {
  outline: none;
}

.mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;

  @media (max-width: 991px) {
    padding: 0rem 2.25rem 2rem;
  }

  @media (max-width: 767px) {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}

.mbr-section-title {
  color: #000000;
}

.mbr-section-subtitle {
  color: #ffffff;
}

.mbr-text,
.mbr-section-btn {
  text-align: left;
}

.item-title {
  text-align: left;
  color: #000000;
}

.item-subtitle {
  text-align: left;
  color: #000000;
}

.content-head {
  max-width: 800px;
}

.counter-container {
  ul {
    margin: 0;
    padding-left: 2.25rem;
    list-style: none;

    li {
      position: relative;
      list-style: none;
      margin-bottom: 2rem;

      &:before {
        position: absolute;
        left: -1.5em;
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        color: @iconColor;
        background-color: @iconColor;
        width: 0.5em;
        height: 0.5em;
        top: 0.4em;
        border-radius: 50%;
      }
    }
  }
}

.counter-container ul li {
  margin-bottom: 1rem;
}

.mbr-text UL {
  text-align: left;
}