<section class="image6" group="Images & Videos" mbr-class="{'mbr-parallax-background':bg.parallax}" data-bg-video="{{bg.type == 'video' && bg.value.url}}">
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="4">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="4">
        <input type="range" inline title="Width" name="contentWidth" min="6" max="12" value="12" step="1">
        <input type="range" inline title="Sizes" name="proportions" min="4" max="8" value="8" step="1">
        <header>Show / Hide</header>
        <input type="checkbox" title="Description" name="showDescription" checked>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg">
            <input type="color" title="Color" value="#ffffff" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" checked condition="bg.type !== 'color'">
        <input type="color" title="Overlay Color" name="overlayColor" value="#232323" condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.4" condition="overlay && bg.type !== 'color'">
    </mbr-parameters>
    
    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'" mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row">
            <div class="col-12 col-md-{{contentWidth}}">
                <div class="row">
                    <div class="col-12 col-lg-{{proportions}}">
                        <div class="img-item mb-3">
                            <img src="../_images/features/features2.jpg" alt="Mobirise Website Builder">
                            <div class="img-description mbr-white" mbr-if="showDescription">
                                <p class="mbr-fonts-style align-center text1" mbr-theme-style="display-5" data-app-selector=".text1">
                                    Responsive
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg">
                        <div class="img-item mb-3">
                            <img src="../_images/square/sq1.jpg" alt="Mobirise Website Builder">
                            <div class="img-description mbr-white" mbr-if="showDescription">
                                <p class="mbr-fonts-style align-center text2" mbr-theme-style="display-5" data-app-selector=".text2">
                                    Mobile friendly
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>