padding-top: (@paddingTop * 1rem);
padding-bottom: (@paddingBottom * 1rem);

& when (@bg-type ="color") {
    background-color: @bg-value;
}

& when (@bg-type ="image") {
    background-image: url(@bg-value);
}
.mbr-fallback-image.disabled {
    display: none;
}
.mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    & when (@bg-type ='video') {
        background-image: url(@fallBackImage);
    }
}
.mbr-text {
    color: #767676;
}

.mbr-section-subtitle {
    color: #767676;
}

.title {
    .num {
        width: 100%;
        display: block;
    }

    .card-title {
        z-index: 1;
    }
}

.num {
    color: #6592e6;
}

@media (max-width: 767px) {
    * {
        text-align: center !important;
    }

    .content-column {
        margin-bottom: 2rem;
    }
}
