<section class="header2" group="Headers" data-bg-video="{{bg.type == 'video' && bg.value.url}}" mbr-class="{
    'mbr-fullscreen': fullScreen,
    'mbr-parallax-background': bg.parallax}">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen" checked>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5"
            condition="fullScreen == false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5"
            condition="fullScreen == false">

        <input type="range" inline name="textWidth" title="Width" min="4" max="12" value="7" step="1">
        <select title="Align" name="contentAlign">
            <option value="" selected>Left</option>
            <option value="justify-content-center">Center</option>
            <option value="justify-content-end">Right</option>
        </select>
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Subtitle" name="showSubitle">
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Buttons" name="showButtons" checked>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background7.jpg" selected parallax>
            <input type="color" title="Color" value="#ffffff">
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.8"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'" opacity="{{overlayOpacity}}"
        bg-color="{{overlayColor}}"></div>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row {{contentAlign}}">
            <div class="col-12 col-lg-{{textWidth}}">
                <h1 class="mbr-section-title mbr-fonts-style mb-3" data-app-selector=".mbr-section-title"
                    mbr-theme-style="display-1" mbr-if="showTitle"><b>Full Screen Intro</b></h1>
                <h2 class="mbr-section-subtitle mbr-fonts-style mb-3" data-app-selector=".mbr-section-subtitle"
                    mbr-theme-style="display-2" mbr-if="showSubitle">Header Subtitle</h2>
                <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7" mbr-if="showText"
                    data-app-selector=".mbr-text, .mbr-section-btn">Click any text to edit or style it. Select text to insert a link. Click the blue "Gear" icon at the top right corner to hide/show buttons, text, title, and change the block background. Click the red "+" button at the bottom right corner to add a new block. Use the top left menu to create new pages, sites, and add new themes and extensions.</p>
                <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn mt-3" mbr-if="showButtons">
                    <a class="btn btn-success" href="https://mobiri.se" data-app-placeholder="Type Text">Free Download!</a>
                    <a class="btn btn-success-outline" href="https://mobiri.se" data-app-placeholder="Type Text">Live Demos &gt;</a>
                </div>
            </div>
        </div>
    </div>
</section>