<section
  class="form03"
  group="Form"
  mbr-class="{'mbr-fullscreen': fullScreen,'mbr-parallax-background': bg.parallax}"
  plugins="formstyler, datepicker"
>
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen">
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="6"
            condition="fullScreen == false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6"
            condition="fullScreen == false">
        <input type="checkbox" title="Reverse" name="reverseContent" checked>
        <header>Show/Hide</header>
        <input type="checkbox" title="Form Title" name="showFormTitle" checked>
        <input type="checkbox" title="Form Subtitle" name="showFormSubtitle">
        <header>Background</header>
        <input type="color" title="Color" name="bgColor" value="#edefeb">
    </mbr-parameters>

    <div
      class="mbr-overlay"
      mbr-if="overlay && bg.type!== 'color'"
      mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}"
    ></div>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="col-12 col-lg item-wrapper">
                <div
                  class="mbr-section-head mb-5"
                  mbr-if="showFormTitle || showFormSubtitle"
                >
                    <h3
                      class="mbr-section-title mbr-fonts-style align-center mb-0"
                      mbr-theme-style="display-2"
                      mbr-if="showFormTitle"
                      data-app-selector=".mbr-section-title"
                    >
                        <b>Contact us</b>
                    </h3>
                    <h4
                      class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4"
                      mbr-theme-style="display-7"
                      mbr-if="showFormSubtitle"
                      data-app-selector=".mbr-section-subtitle"
                    >
                        Contacts Subtitle
                    </h4>
                </div>
                <div mbr-form class="col-lg-12 mx-auto mbr-form">
                    <form
                      action
                      name="Form Name"
                      method="POST"
                      class="mbr-form form-with-styler"
                    >
                        <div class="row">
                            <div
                              hidden="hidden"
                              data-form-alert
                              class="alert alert-success col-12"
                            >
                                Thanks for filling out the form!
                            </div>
                            <div
                              hidden="hidden"
                              data-form-alert-danger
                              class="alert alert-danger col-12"
                            >
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <input
                                  type="text"
                                  name="name"
                                  placeholder="Name"
                                  data-form-field="name"
                                  class="form-control"
                                  value
                                >
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                                <input
                                  type="email"
                                  name="email"
                                  placeholder="E-mail"
                                  data-form-field="email"
                                  class="form-control"
                                  value
                                >
                            </div>
                            <div class="col-12 form-group mb-3" data-for="phone">
                                <input
                                  type="tel"
                                  name="phone"
                                  placeholder="Phone"
                                  data-form-field="phone"
                                  class="form-control"
                                  value
                                >
                            </div>
                            <div class="col-12 form-group mb-3" data-for="textarea">
                                <textarea
                                  name="textarea"
                                  placeholder="Message"
                                  data-form-field="textarea"
                                  class="form-control"
                                ></textarea>
                            </div>
                            <div
                              mbr-buttons="true"
                              mbr-theme-style="display-7"
                              data-toolbar="-mbrBtnMove,-mbrLink,-mbrBtnRemove,-mbrBtnAdd"
                              class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"
                            >
                                <a type="submit" class="btn btn-primary">
                                    Send message
                                </a>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img class="w-100" src="../_images/gallery/gallery04.jpg" alt="Mobirise Website Builder">
                </div>
            </div>

        </div>
    </div>
</section>