<section
  class="pricing04 startm5"
  group="Pricing"
  mbr-class="{'mbr-parallax-background': bg.parallax}"
>
  <mbr-parameters>
    <header>Size</header>
    <input type="checkbox" title="Full Width" name="fullWidth">
    <input type="checkbox" name="reverseContent" title="Reverse">
    <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5">
    <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5">
    <header>Show/Hide</header>
    <input type="checkbox" title="Title" name="showTitle" checked>
    <input type="checkbox" title="Subtitle" name="showSubtitle" checked>
    <input type="checkbox" name="showButton" title="Buttons" checked>
    <header>Card</header>
    <input type="checkbox" name="showCardTitle" title="Title" checked>
    <input type="checkbox" name="showCardSubtitle" title="Subtitle" checked>
    <input type="checkbox" name="showText" title="Text" checked>
    <input type="checkbox" name="showList" title="List" checked>
    <input type="checkbox" name="showButtons" title="Buttons" checked>
    <header>Color</header>
    <input type="color" name="cardsHead" title="Head" value="#9fe870">
    <input type="color" name="cardsBg" title="BG" value="#ffffff">
    <input type="color" name="iconColor" title="Icon Color" value="#9fe870">
    <header>Background</header>
    <fieldset type="background" name="bg" parallax>
      <input type="image" title="Image" value="../_images/background1.jpg">
      <input type="color" title="Color" value="#edefeb" selected>
      <input type="video" title="Video" value="https://vimeo.com/428046504">
    </fieldset>
    <header condition="bg.type === 'video'">Fallback Image</header>
    <input
      type="image"
      title="Fallback Image"
      value="../_images/background1.jpg"
      name="fallBackImage"
      condition="bg.type === 'video'"
    >
    <input
      type="checkbox"
      title="Overlay"
      name="overlay"
      condition="bg.type !== 'color'"
    >
    <input
      type="color"
      title="Overlay Color"
      name="overlayColor"
      value="#ffffff"
      condition="overlay && bg.type !== 'color'"
    >
    <input
      type="range"
      inline
      title="Opacity"
      name="overlayOpacity"
      min="0"
      max="1"
      step="0.1"
      value="0.7"
      condition="overlay && bg.type !== 'color'"
    >
  </mbr-parameters>
  <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'" opacity="{{overlayOpacity}}" bg-color="{{overlayColor}}"></div>
  <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
  <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12 col-md-12">
          <h5
            class="mbr-section-title mbr-fonts-style mt-0 mb-4"
            mbr-if="showTitle"
            data-app-selector=".mbr-section-title"
            mbr-theme-style="display-2"
          ><b>Pick your package</b></h5>
          <h6
            class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4"
            mbr-if="showSubtitle"
            data-app-selector=".mbr-section-subtitle, .main-button"
            mbr-theme-style="display-7"
          >Browse pricing plans or schedule your free consultation to find the perfect solution.</h6>
         <div
           class="mbr-section-btn mt-3 main-button"
           mbr-if="showButton"
           data-toolbar="-mbrBtnMove,-mbrBtnAdd"
           mbr-buttons
           mbr-theme-style="display-7"
         >
            <a
              href
              class="btn btn-primary"
              data-app-placeholder="Type Text"
            >Contact us</a></div>
        </div>
      </div>

      <div class="col-lg-8 side-features">
        <div class="item features-without-image col-12 col-md-6 col-lg-6 item-mb active">
          <div class="item-wrapper">
            <div class="item-head">
              <h5
                class="item-title mbr-fonts-style mb-0"
                mbr-theme-style="display-5"
                data-app-selector=".item-title"
                mbr-if="showCardTitle"
              >
                <b>Starter</b>
              </h5>
              <h6
                class="item-subtitle mbr-fonts-style mb-0"
                mbr-theme-style="display-7"
                data-app-selector=".item-subtitle"
                mbr-if="showCardSubtitle"
              >
                <b>$10</b>/month
              </h6>
            </div>
            <div
              class="item-content"
              mbr-if="showCardTitle || showCardSubtitle || showText || showButtons"
            >
              <p
                class="mbr-text mbr-fonts-style"
                mbr-if="showText"
                mbr-theme-style="display-7"
                data-app-selector=".mbr-text, .mbr-section-btn"
              >
                The perfect plan for small businesses and startups.
              </p>
              <div
                class="mb-4"
                mbr-if="showList && showText"
              >
              </div>
              <div class="counter-container mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                data-app-selector=".mbr-text" data-multiline mbr-article mbr-if="showList">
                <ul>
                  <li>1 user</li>
                  <li>100GB storage</li>
                  <li>Basic features</li>
                </ul>
              </div>
            </div>
            <div
              class="mbr-section-btn item-footer "
              mbr-if="showButtons"
              data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons
              mbr-theme-style="display-7"
            >
              <a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Get this plan</a>
            </div>
          </div>
        </div>
        <div class="item features-without-image col-12 col-md-6 col-lg-6 item-mb">
          <div class="item-wrapper">
            <div class="item-head">
              <h5
                class="item-title mbr-fonts-style mb-0"
                mbr-theme-style="display-5"
                data-app-selector=".item-title"
                mbr-if="showCardTitle"
              >
                <b>Advanced</b>
              </h5>
              <h6
                class="item-subtitle mbr-fonts-style mb-0"
                mbr-theme-style="display-7"
                data-app-selector=".item-subtitle"
                mbr-if="showCardSubtitle"
              >Price by request</h6>
            </div>
            <div
              class="item-content"
              mbr-if="showCardTitle || showCardSubtitle || showText || showButtons"
            >
              <p
                class="mbr-text mbr-fonts-style"
                mbr-if="showText"
                mbr-theme-style="display-7"
                data-app-selector=".mbr-text, .mbr-section-btn"
              >
                The most powerful plan for enterprise businesses.
              </p>
              <div
                class="mb-4"
                mbr-if="showList && showText">
                </div
              >
              <div
                class="counter-container mbr-text mbr-fonts-style"
                mbr-theme-style="display-7"
                data-app-selector=".mbr-text"
                data-multiline
                mbr-article
                mbr-if="showList"
              >
                <ul>
                  <li>Unlimited users
                  </li>
                  <li>5TB storage
                  </li>
                  <li>Premium features</li>
                </ul>
              </div>
            </div>
            <div
              class="mbr-section-btn item-footer "
              mbr-if="showButtons"
              data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons
              mbr-theme-style="display-7"
            ><a
              href
              class="btn item-btn btn-white"
              data-app-placeholder="Type Text"
            >Contact sales</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>