& when not (@fullScreen) {
    padding-top: (@paddingTop * 1rem);
    padding-bottom: (@paddingBottom * 1rem);
}

& when (@bg-type ="color") {
    background-color: @bg-value;
}

& when (@bg-type ="image") {
    background-image: url(@bg-value);
}
.mbr-fallback-image.disabled {
    display: none;
}
.mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    & when (@bg-type ='video') {
        background-image: url(@fallBackImage);
    }
}

.soc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #edefeb;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
}

.number-wrap {
    color: @labelsColor;
    text-align: center;
}

.number {
    color: @numbersColor;
}

.period {
    display: block;
}

.dot {
    display: none;
}

@media (max-width: 767px) {
    .period {
        font-size: 0.8rem;
    }
}

.btn {
    height: 100%;
    margin: 0;
}

.mbr-section-btn {
    margin-bottom: 1.2rem;
}

.icons-menu {
    .soc-item {
        padding-left: 8px;
        padding-right: 8px;

        a {
            &:hover, &:focus {
                .mbr-iconfont {
                    background-color: @active;
                }
            }

            .mbr-iconfont {
                display: inline-block;
                border-radius: 50%;
                text-align: center;
                color: @socialIconColor;
                background-color: @socialIconBackgroundColor;
                display: flex;
                justify-content: center;
                align-content: center;
                transition: all 0.3s;
                &:before {
                    padding: 1.1rem;
    
                    @media (max-width:767px) {
                        padding: 1.2rem;
                    }
                }
            }
        }
    }
}
