<section
  class="pricing02"
  group="Pricing"
  mbr-class="{'mbr-parallax-background': bg.parallax}"
>
  <mbr-parameters>
    <header>Size</header>
    <input type="checkbox" title="Full Width" name="fullWidth">
    <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="6">
    <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6">
    <select title="Columns" name="cardsWidth">
      <option value="12">1</option>
      <option value="6">2</option>
      <option value="4" selected>3</option>
      <option value="3">4</option>
    </select>
    <header>Show/Hide</header>
    <input type="checkbox" name="showTitle" title="Title" checked>
    <input type="checkbox" name="showSubtitle" title="Subtitle">
    <input type="checkbox" name="showmainButtons" title="Buttons">
    <header>Cards</header>
    <input type="checkbox" name="autoSize" title="Auto Size" checked>
    <input type="range" name="imageHeight" title="Height" min="1" max="5" step="1" value="3"
      condition="autoSize && !(showButtons==false && showCardSubtitle==false && showCardTitle==false && showText==false)">
    <input type="checkbox" title="Spacing" name="spacing" checked>
    <input type="checkbox" name="showCardTitle" title="Title" checked>
    <input type="checkbox" name="showCardSubtitle" title="Price" checked>
    <input type="checkbox" name="showText" title="Text" checked>
    <input type="checkbox" name="showButtons" title="Buttons" checked>
    <input type="color" name="cardsBg" title="BG" value="#ffffff">
    <header>Background</header>
    <fieldset type="background" parallax name="bg" required>
      <input type="image" title="Image" value="../_images/background1.jpg">
      <input type="color" title="Color" value="#edefeb" selected>
    </fieldset>
    <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
    <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
      condition="overlay && bg.type == 'image'">
    <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5"
      condition="overlay && bg.type == 'image'">
  </mbr-parameters>
  <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'"></div>
  <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5" mbr-if="showTitle || showSubtitle || showmainButton">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0" mbr-theme-style="display-2" mbr-if="showTitle"
            data-app-selector=".mbr-section-title">
            <b>Our Products</b>
          </h4>
          <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4" mbr-theme-style="display-7"
            mbr-if="showSubtitle" data-app-selector=".mbr-section-subtitle, .mbr-section-head .mbr-section-btn">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h5>
          <div class="mbr-section-btn align-center item-footer mb-0 mt-4" mbr-if="showmainButtons"
            data-toolbar="-mbrBtnMove,-mbrBtnAdd" mbr-buttons mbr-theme-style="display-7">
            <a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Get Started</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item features-image col-12 col-md-6 col-lg-{{cardsWidth}}">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="../_images/shop/shop1.jpg" alt="Mobirise Website Builder">
          </div>
          <div class="item-content" mbr-if="showCardTitle || showCardSubtitle || showText || showButtons">
            <h5 class="item-title mbr-fonts-style" mbr-theme-style="display-5" data-app-selector=".item-title"
              mbr-if="showCardTitle">
              <b>Marketing</b>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".item-subtitle"
              mbr-if="showCardSubtitle">
              $5.00
            </h6>
            <p class="mbr-text mbr-fonts-style" mbr-if="showText" mbr-theme-style="display-7"
              data-app-selector=".mbr-text, .item .mbr-section-btn">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit habitant turpis.
            </p>
            <div class="mbr-section-btn item-footer" mbr-if="showButtons" data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons mbr-theme-style="display-7"><a href class="btn item-btn btn-primary"
                data-app-placeholder="Type Text">Buy Now</a></div>
          </div>

        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-{{cardsWidth}}">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="../_images/shop/shop2.jpg" alt="Mobirise Website Builder">
          </div>
          <div class="item-content" mbr-if="showCardTitle || showCardSubtitle || showText || showButtons">
            <h5 class="item-title mbr-fonts-style" mbr-theme-style="display-5" data-app-selector=".item-title"
              mbr-if="showCardTitle">
              <b>Promotion</b>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".item-subtitle"
              mbr-if="showCardSubtitle">
              $7.00
            </h6>
            <p class="mbr-text mbr-fonts-style" mbr-if="showText" mbr-theme-style="display-7"
              data-app-selector=".mbr-text, .item .mbr-section-btn">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit habitant turpis.
            </p>
            <div class="mbr-section-btn item-footer" mbr-if="showButtons" data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons mbr-theme-style="display-7"><a href class="btn item-btn btn-primary"
                data-app-placeholder="Type Text">Buy Now</a></div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-{{cardsWidth}}">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="../_images/shop/shop3.jpg" alt="Mobirise Website Builder">
          </div>
          <div class="item-content" mbr-if="showCardTitle || showCardSubtitle || showText || showButtons">
            <h5 class="item-title mbr-fonts-style" mbr-theme-style="display-5" data-app-selector=".item-title"
              mbr-if="showCardTitle">
              <b>Branding</b>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".item-subtitle"
              mbr-if="showCardSubtitle">
              $10.00
            </h6>
            <p class="mbr-text mbr-fonts-style" mbr-if="showText" mbr-theme-style="display-7"
              data-app-selector=".mbr-text, .item .mbr-section-btn">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit habitant turpis.<br>
            </p>
            <div class="mbr-section-btn item-footer" mbr-if="showButtons" data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons mbr-theme-style="display-7"><a href class="btn item-btn btn-primary"
                data-app-placeholder="Type Text">Buy Now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>