<section
  class="contacts03"
  group="Contact"
  data-bg-video="{{bg.type == 'video' && bg.value.url}}"
  mbr-class="{'mbr-parallax-background': bg.parallax}"
>
  <mbr-parameters>
    <header>Size</header>
    <input type="checkbox" title="Full Width" name="fullWidth">
    <input type="checkbox" name="reverseContent" title="Reverse">
    <input
      type="range"
      inline
      title="Top"
      name="paddingTop"
      min="0"
      max="10"
      step="1"
      value="5"
    >
    <input
      type="range"
      inline
      title="Bottom"
      name="paddingBottom"
      min="0"
      max="10"
      step="1"
      value="5"
    >
    <header>Show/Hide</header>
    <input type="checkbox" title="Title" name="showTitle" checked>
    <input type="checkbox" title="Subtitle" name="showSubtitle" checked>
    <input type="checkbox" name="showButton" title="Buttons">
    <header>Map</header>
    <input type="map" title="Map" name="googleMap">
    <header>Background</header>
    <fieldset type="background" name="bg" parallax>
      <input type="image" title="Image" value="../_images/background1.jpg" parallax>
      <input type="color" title="Color" value="#edefeb" selected>
      <input type="video" title="Video" value="https://vimeo.com/428046504">
    </fieldset>
    <header condition="bg.type === 'video'">Fallback Image</header>
    <input
      type="image"
      title="Fallback Image"
      value="../_images/background1.jpg"
      name="fallBackImage"
      condition="bg.type === 'video'"
    >
    <input
      type="checkbox"
      title="Overlay"
      name="overlay"
      condition="bg.type !== 'color'"
    >
    <input
      type="color"
      title="Overlay Color"
      name="overlayColor"
      value="#ffffff"
      condition="overlay && bg.type !== 'color'"
    >
    <input
      type="range"
      inline
      title="Opacity"
      name="overlayOpacity"
      min="0"
      max="1"
      step="0.1"
      value="0.5"
      condition="overlay && bg.type !== 'color'"
    >
  </mbr-parameters>

  <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'" opacity="{{overlayOpacity}}" bg-color="{{overlayColor}}"></div>
  <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="col-12 col-md-12">
          <h5
            class="mbr-section-title mbr-fonts-style mt-0 mb-4"
            mbr-if="showTitle"
            data-app-selector=".mbr-section-title"
            mbr-theme-style="display-2"
          >
            <b>We're open</b>
          </h5>
          <h6
            class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4"
            mbr-if="showSubtitle"
            data-app-selector=".mbr-section-subtitle, .main-button"
            mbr-theme-style="display-7"
          >Our store is open now! Explore our inspiring space. Come on in and let's start this journey together.<br></h6>
          <div
            class="mbr-section-btn item-footer mt-3  main-button"
            mbr-if="showButton"
            data-toolbar="-mbrBtnMove,-mbrBtnAdd"
            mbr-buttons
            mbr-theme-style="display-7"
          >
            <a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 side-features">
        <div class="google-map" mbr-map="googleMap"></div>
      </div>
    </div>
  </div>
</section>