<section
  class="article15"
  group="Article"
>
    <mbr-parameters>
        <header>Size</header>
        <input
          type="checkbox"
          title="Full Width"
          name="fullWidth"
        >
        <input
          type="checkbox"
          name="reverseContent"
          title="Reverse"
        >
        <input
          type="range"
          inline
          title="Top"
          name="paddingTop"
          min="0"
          max="10"
          step="1"
          value="5"
        >
        <input
          type="range"
          inline
          title="Bottom"
          name="paddingBottom"
          min="0"
          max="10"
          step="1"
          value="5"
        >
        <input
          type="range"
          name="textWidth"
          title="Width"
          min="4"
          max="8"
          value="6"
          step="1"
        >
        <header>Show/Hide</header>
        <input
          type="checkbox"
          title="Title"
          name="showTitle"
        >
        <input
          type="checkbox"
          title="Subtitle"
          name="showSubtitle"
          checked
        >
        <header>Background</header>
        <input
          type="color"
          title="Color"
          name="bgColor"
          value="#ffffff"
        >
    </mbr-parameters>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="col-12 col-md">
                <h5
                  class="mbr-section-title mbr-fonts-style mt-0 mb-4"
                  mbr-if="showTitle"
                  data-app-selector=".mbr-section-title"
                  mbr-theme-style="display-2"
                >
                <b>Photography as Narrative</b>
                </h5>
                <h6
                  class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4"
                  mbr-if="showSubtitle"
                  data-app-selector=".mbr-section-subtitle"
                  mbr-theme-style="display-5"
                >
                  <b>In a single click, photographers breathe life into stillness. Every image narrates, crafting stories beyond words. A glance, a landscape, a fleeting moment—each frame etches its own chapter.</b>
                </h6>
            </div>
            <div class="col-md-12 col-lg-{{textWidth}}">
              <p class="mbr-text mbr-fonts-style mt-0 mb-0" data-app-selector=".mbr-text" mbr-theme-style="display-7">
                Through lenses, storytellers emerge. Visual tales unfurl in composition, lighting, and angles. Photographs are canvases painted with
                emotions, inviting us to relive experiences frozen in time.<br>
                <br>In today's digital age, pixels replace paper, yet
                the essence remains. Photographs bridge eras, shared across screens and albums, stitching past to
                present.<br>
                <br>These frames bridge generations. Family albums archive histories. Amid life's chaos, photos halt time,
                inspiring reflection and gratitude. They weave the ordinary into life's rich tapestry.
              </p>
            </div>
        </div>
    </div>
</section>