<section
  class="features15"
  group="Features"
  data-bg-video="{{bg.type == 'video' && bg.value.url}}"
  mbr-class="{'mbr-parallax-background': bg.parallax}"
>
	<mbr-parameters>
		<header>Size</header>
		<input type="checkbox" title="Full Width" name="fullWidth">
		<input
		  type="range"
		  inline
		  title="Top"
		  name="paddingTop"
		  min="0"
		  max="10"
		  step="1"
		  value="6"
		>
		<input
		  type="range"
		  inline
		  title="Bottom"
		  name="paddingBottom"
		  min="0"
		  max="10"
		  step="1"
		  value="6"
		>
		<header>Show/Hide</header>
		<input type="checkbox" name="showTitle" title="Title" checked>
		<input type="checkbox" name="showSubtitle" title="Subtitle">
		<header>Card</header>
		<input type="checkbox" title="Title" name="showCardTitle" checked>
		<input type="checkbox" title="Text" name="showText" checked>
		<input type="checkbox" title="Images" name="showImage" checked>
		<select title="Columns" name="columns">
			<option value="12">1</option>
			<option value="6">2</option>
			<option value="4" selected>3</option>
			<option value="3">4</option>
		</select>
		<header>Background</header>
		<fieldset type="background" name="bg" parallax>
			<input type="image" title="Image" value="../_images/background1.jpg">
			<input type="color" title="Color" value="#ffffff" selected>
			<input type="video" title="Video" value="https://vimeo.com/428046504">
		</fieldset>
		<header condition="bg.type === 'video'">Fallback Image</header>
		<input type="image" title="Fallback Image" value="../_images/background1.jpg" name="fallBackImage" condition="bg.type === 'video'">
		<input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
		<input type="color" title="Overlay Color" name="overlayColor" value="#ffffff" condition="overlay && bg.type !== 'color'">
		<input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5" condition="overlay && bg.type !== 'color'">
	</mbr-parameters>

	<div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
	<div
	  class="mbr-overlay"
	  mbr-if="overlay && bg.type!== 'color'"
	  mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}"
	>
	</div>
	<div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
		<div class="row justify-content-center">
			<div class="col-12 content-head">
				<div
				  class="mbr-section-head mb-5"
				  mbr-if="showTitle || showSubtitle"
				>
					<h4
					  class="mbr-section-title mbr-fonts-style align-center mb-0"
					  mbr-theme-style="display-2"
					  mbr-if="showTitle"
					  data-app-selector=".mbr-section-title"
					>
						<b>Features</b>
					</h4>
					<h5
					  class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4"
					  mbr-theme-style="display-7"
					  mbr-if="showSubtitle"
					  data-app-selector=".mbr-section-subtitle"
					>
						To add more cards, hover on a card and click 'Add items'
					</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="item features-without-image col-12 col-lg-{{columns}} active">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop1.jpg"
						  alt="Mobirise Website Builder"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>Offline editing</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text"
						>
							<div>Create and edit websites without internet.</div>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-{{columns}}">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop2.jpg"
						  alt="Mobirise Website Builder"
						  data-slide-to="1"
						  data-bs-slide-to="2"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>Responsive design</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text"
						>
							Websites look great on all devices.
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-{{columns}}">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop3.jpg"
						  alt="Mobirise Website Builder"
						  data-bs-slide-to="2"
						  data-slide-to="2"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>Blogging</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text"
						>
							Write and publish blog posts, share your thoughts.
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-{{columns}}">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop4.jpg"
						  alt="Mobirise Website Builder"
						  data-slide-to="3"
						  data-bs-slide-to="3"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>SEO optimization</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text"
						>
							Websites optimized for search engines.
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-{{columns}}">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop6.jpg"
						  alt="Mobirise Website Builder"
						  data-bs-slide-to="4"
						  data-slide-to="4"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>Analytics</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text"
						>
							Track website traffic and user behavior.
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-{{columns}}">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop5.jpg"
						  alt="Mobirise Website Builder"
						  data-slide-to="5"
						  data-bs-slide-to="5"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>eCommerce</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text"
						>
							Create online stores easily, without coding knowledge.
						</h5>
					</div>
				</div>
			</div>

			<div class="item features-without-image col-12 col-lg-{{columns}}">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop3.jpg"
						  alt="Mobirise Website Builder"
						  data-bs-slide-to="6"
						  data-slide-to="6"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>Large community</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text"
						>
							Active community of users and developers.
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-{{columns}}">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop1.jpg"
						  alt="Mobirise Website Builder"
						  data-bs-slide-to="7"
						  data-slide-to="7"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>Security</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text">
						  Websites built with security in mind.</h5
						>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-lg-{{columns}}">
				<div class="item-wrapper">
					<div class="img-wrapper" mbr-if="showImage">
						<img
						  src="../_images/shop/shop2.jpg"
						  alt="Mobirise Website Builder"
						  data-bs-slide-to="8"
						  data-slide-to="8"
						>
					</div>
					<div class="card-box">
						<h4
						  class="card-title mbr-fonts-style mb-0"
						  mbr-theme-style="display-7"
						  mbr-if="showCardTitle"
						  data-app-selector=".card-title"
						>
							<b>Extensions</b>
						</h4>
						<h5
						  class="card-text mbr-fonts-style mt-3"
						  mbr-theme-style="display-7"
						  mbr-if="showText"
						  data-app-selector=".card-text"
						>
							Add new features and functionality.
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>