<section class="slider4 mbr-embla" group="Gallery & Slider" mbr-class="{'mbr-parallax-background':bg.parallax}"
    plugins="embla">
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" name="fullWidth" title="Full Width" checked>
        <input inline type="range" title="Top" name="paddingTop" min="0" max="10" step="1" value="6">
        <input inline type="range" title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showMainTitle" checked />
        <input type="checkbox" title="Subtitle" name="showMainSubtitle" checked />
        <header>Carousel</header>
        <input type="checkbox" title="Autoplay" name="autoplay">
        <input type="range" title="Interval" name="interval" min="1" max="10" value="5" step="1" condition="autoplay">
        <input type="checkbox" title="Loop" name="loop" checked>
        <input type="checkbox" title="Draggable" name="draggable" checked>
        <input type="checkbox" name="arrows" title="Arrows" checked>
        <header>Card</header>
        <input type="range" name="gap" title="Gap" min="0" max="10" step="1" value="1">
        <input type="checkbox" name="autoSize" title="Auto Size" checked>
        <input type="range" name="carouselHeight" title="Height" min="1" max="8" step="1" value="4"
            condition="autoSize">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg" parallax>
            <input type="color" title="Color" value="#edefeb" selected>
        </fieldset>
        <input type="checkbox" title="Overlay" name="overlay" checked condition="bg.type !== 'color'">
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row mb-5 justify-content-center" mbr-if="showMainTitle || showMainSubtitle">
            <div class="col-12 content-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0" mbr-theme-style="display-2"
                    mbr-if="showMainTitle" data-app-selector=".mbr-section-title">
                    <b>Fixed-Height Slider</b>
                </h3>
                <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4" mbr-theme-style="display-7"
                    mbr-if="showMainSubtitle" data-app-selector=".mbr-section-subtitle">
                    Carousel with Multiple Items
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="embla position-relative" data-loop={{loop}} data-auto-play={{autoplay}}
                    data-auto-play-interval={{interval}} data-draggable={{draggable}} data-skip-snaps="true"
                    data-align="center" data-contain-scroll="trimSnaps">
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <div class="embla__slide slider-image item"
                                mbr-style="{'margin-left': gap + 'rem', 'margin-right': gap + 'rem'}">
                                <div class="slide-content">
                                    <div class="item-img">
                                        <div class="item-wrapper">
                                            <img src="../_images/gallery/gallery01.jpg" alt="Mobirise Website Builder"
                                                title>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item"
                                mbr-style="{'margin-left': gap + 'rem', 'margin-right': gap + 'rem'}">
                                <div class="slide-content">
                                    <div class="item-img">
                                        <div class="item-wrapper">
                                            <img src="../_images/gallery/gallery02.jpg" alt="Mobirise Website Builder"
                                                title>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item"
                                mbr-style="{'margin-left': gap + 'rem', 'margin-right': gap + 'rem'}">
                                <div class="slide-content">
                                    <div class="item-img">
                                        <div class="item-wrapper">
                                            <img src="../_images/gallery/gallery03.jpg" alt="Mobirise Website Builder"
                                                title>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item"
                                mbr-style="{'margin-left': gap + 'rem', 'margin-right': gap + 'rem'}">
                                <div class="slide-content">
                                    <div class="item-img">
                                        <div class="item-wrapper">
                                            <img src="../_images/gallery/gallery04.jpg" alt="Mobirise Website Builder"
                                                title>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item"
                                mbr-style="{'margin-left': gap + 'rem', 'margin-right': gap + 'rem'}">
                                <div class="slide-content">
                                    <div class="item-img">
                                        <div class="item-wrapper">
                                            <img src="../_images/gallery/gallery05.jpg" alt="Mobirise Website Builder"
                                                title>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embla__slide slider-image item"
                            mbr-style="{'margin-left': gap + 'rem', 'margin-right': gap + 'rem'}">
                            <div class="slide-content">
                                <div class="item-img">
                                    <div class="item-wrapper">
                                        <img src="../_images/gallery/gallery06.jpg" alt="Mobirise Website Builder"
                                            title>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="embla__slide slider-image item"
                            mbr-style="{'margin-left': gap + 'rem', 'margin-right': gap + 'rem'}">
                            <div class="slide-content">
                                <div class="item-img">
                                    <div class="item-wrapper">
                                        <img src="../_images/gallery/gallery07.jpg" alt="Mobirise Website Builder"
                                            title>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <button class="embla__button embla__button--prev">
                        <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden">Previous</span>
                    </button>
                    <button class="embla__button embla__button--next">
                        <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                        <span class="sr-only visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>