<section
	class="footer1"
	group="Footers"
	data-bg-video="{{bg.type == 'video' && bg.value.url}}"
	global
	once="footers"
	mbr-class="{
    'mbr-parallax-background': bg.parallax}"
>
	<mbr-parameters>
		<header>Size</header>
		<input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="6" />
		<input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6" />
		<header>Show/Hide</header>
		<input type="checkbox" title="Title" name="showTitle" checked />
		<input type="checkbox" title="Buttons" name="showButtons" checked />
		<input type="checkbox" title="Social" name="showSocial" checked />
		<input type="color" title="Color" value="#163300" name="icon" condition="showSocial">
		<input type="color" title="Active Color" value="#f7f7f7" condition="showSocial" name="active">
		<input type="color" title="BG" value="#edefeb" name="iconBg" condition="showSocial">

		<input
			type="range"
			name="socialCount"
			title="Social Count"
			min="1"
			max="4"
			step="1"
			value="4"
			condition="showSocial"
		/>
		<input type="checkbox" title="Copyright" name="showCopyright" checked />
		<header>Color</header>
		<input type="color" title="Container" name="row" value="#ffffff" />
		<header>Background</header>
		<fieldset type="background" name="bg" parallax>
			<input type="image" title="Image" value="../_images/background1.jpg" />
			<input type="color" title="Color" value="#2E481A" selected />
			<input type="video" title="Video" value="https://vimeo.com/428046504" />
		</fieldset>
		<header condition="bg.type === 'video'">Fallback Image</header>
		<input
			type="image"
			title="Fallback Image"
			value="../_images/background1.jpg"
			name="fallBackImage"
			condition="bg.type === 'video'"
		/>
		<input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked />
		<input
			type="color"
			title="Overlay Color"
			name="overlayColor"
			value="#474547"
			condition="overlay && bg.type !== 'color'"
		/>
		<input
			type="range"
			inline
			title="Opacity"
			name="overlayOpacity"
			min="0"
			max="1"
			step="0.1"
			value="0.6"
			condition="overlay && bg.type !== 'color'"
		/>
	</mbr-parameters>

	<div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
	<div
		class="mbr-overlay"
		mbr-if="overlay && bg.type !== 'color'"
		opacity="{{overlayOpacity}}"
		bg-color="{{overlayColor}}"
	></div>
	<div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
		<div class="row mbr-white">
			<div class="col-12 col-md-6 col-lg-3">
				<h5
					mbr-text
					class="mbr-section-subtitle mbr-fonts-style mb-2"
					data-app-selector=".mbr-section-subtitle"
					mbr-theme-style="display-5"
					mbr-if="showTitle"
				>
					<b>Company</b>
				</h5>
				<ul
					class="list mbr-fonts-style"
					mbr-theme-style="display-7"
					data-app-selector=".list, .item-wrap"
					data-multiline
					mbr-article
				>
					<li class="mbr-text item-wrap">About</li>
					<li class="mbr-text item-wrap">Press</li>
					<li class="mbr-text item-wrap">Careers</li>
					<li class="mbr-text item-wrap">Social</li>
					<li class="mbr-text item-wrap">Contact</li>
				</ul>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<h5
					mbr-text
					class="mbr-section-subtitle mbr-fonts-style mb-2"
					data-app-selector=".mbr-section-subtitle"
					mbr-theme-style="display-5"
					mbr-if="showTitle"
				>
					<b>Features</b>
				</h5>
				<ul
					class="list mbr-fonts-style"
					mbr-theme-style="display-7"
					data-app-selector=".list, .item-wrap"
					data-multiline
					mbr-article
				>
					<li class="mbr-text item-wrap">Branding</li>
					<li class="mbr-text item-wrap">Promotion</li>
					<li class="mbr-text item-wrap">Design</li>
					<li class="mbr-text item-wrap">Creative</li>
					<li class="mbr-text item-wrap">Production</li>
				</ul>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<h5
					mbr-text
					class="mbr-section-subtitle mbr-fonts-style mb-2"
					data-app-selector=".mbr-section-subtitle"
					mbr-theme-style="display-5"
					mbr-if="showTitle"
				>
					<b>Support</b>
				</h5>
				<ul
					class="list mbr-fonts-style"
					mbr-theme-style="display-7"
					data-app-selector=".list, .item-wrap"
					data-multiline
					mbr-article
				>
					<li class="mbr-text item-wrap">Help</li>
					<li class="mbr-text item-wrap">Info</li>
					<li class="mbr-text item-wrap">Contacts</li>
					<li class="mbr-text item-wrap">FAQ</li>
					<li class="mbr-text item-wrap">Report</li>
				</ul>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<h5 class="mbr-section-subtitle mbr-fonts-style mb-2" mbr-theme-style="display-5" mbr-if="showTitle">
					<b>About</b>
				</h5>
				<ul
					class="list mbr-fonts-style"
					mbr-theme-style="display-7"
					data-app-selector=".list, .item-wrap"
					data-multiline
					mbr-article
				>
					<li class="mbr-text item-wrap">History</li>
					<li class="mbr-text item-wrap">Clients</li>
					<li class="mbr-text item-wrap">Teams</li>
					<li class="mbr-text item-wrap">Brand</li>
					<li class="mbr-text item-wrap">Terms</li>
				</ul>
			</div>
			<div class="col-12 mt-5 footer-col" mbr-if="showSocial || showButtons">
				<div
					mbr-buttons
					mbr-if="showButtons"
					mbr-theme-style="display-7"
					class="mbr-section-btn align-left"
					data-toolbar="-mbrBtnMove"
				>
					<a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text">Sign Up</a>
					<a class="btn btn-success-outline" href="https://mobiri.se" data-app-placeholder="Type Text">Read More</a>
				</div>

				<div class="social-row mt-2 display-7" mbr-if="showSocial">
					<div class="soc-item">
						<a href="https://mobiri.se/">
							<span mbr-icon class="mbr-iconfont socicon socicon-facebook"></span>
						</a>
					</div>
					<div class="soc-item" mbr-if="socialCount>1">
						<a href="https://mobiri.se/">
							<span mbr-icon class="mbr-iconfont socicon socicon-twitter"></span>
						</a>
					</div>
					<div class="soc-item" mbr-if="socialCount>2">
						<a href="https://mobiri.se/">
							<span mbr-icon class="mbr-iconfont socicon socicon-instagram"></span>
						</a>
					</div>
					<div class="soc-item" mbr-if="socialCount>3">
						<a href="https://mobiri.se/">
							<span mbr-icon class="mbr-iconfont socicon-logmein socicon"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-12 mt-4" mbr-if="showCopyright">
				<p
					class="mbr-text mb-0 mbr-fonts-style copyright align-center"
					mbr-theme-style="display-7"
					data-app-selector=".copyright"
					data-app-placeholder="Type Text"
				>
					© Copyright 2030 Mobirise - All Rights Reserved
				</p>
			</div>
		</div>
	</div>
</section>
