<section
  class="people03"
  group="People"
  mbr-class="{'mbr-parallax-background': bg.parallax}"
>
	<mbr-parameters>
		<header>Size</header>
		<input type="checkbox" title="Full Width" name="fullWidth">
		<input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="6">
		<input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6">
		<select title="Columns" name="cardsWidth">
			<option value="12">1</option>
			<option value="6">2</option>
			<option value="4" selected>3</option>
			<option value="3">4</option>
		</select>
		<header>Show/Hide</header>
		<input type="checkbox" name="showTitle" title="Title" checked>
		<input type="checkbox" name="showSubtitle" title="Subtitle">
		<header>Cards</header>
		<input type="checkbox" name="autoSize" title="Auto Size" checked>
		<input
		  type="range"
		  name="imageHeight"
		  title="Height"
		  min="1"
		  max="5"
		  step="1"
		  value="4"
		  condition="autoSize && !(showButtons==false && showCardSubtitle==false && showCardTitle==false && showText==false)"
		>
		<input type="checkbox" title="Spacing" name="spacing" checked>
		<input type="checkbox" name="showCardTitle" title="Name" checked>
		<input type="checkbox" name="showCardSubtitle" title="Position" checked>
		<input type="checkbox" name="showText" title="Text">
		<input type="checkbox" name="showButtons" title="Buttons">
		<header>Background</header>
		<fieldset type="background" parallax name="bg" required>
			<input type="image" title="Image" value="../_images/background1.jpg">
			<input type="color" title="Color" value="#ffffff" selected>
		</fieldset>
		<input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'">
		<input
		  type="color"
		  title="Overlay Color"
		  name="overlayColor"
		  value="#edefeb"
		  condition="overlay && bg.type == 'image'"
		>
		<input
		  type="range"
		  inline
		  title="Opacity"
		  name="overlayOpacity"
		  min="0"
		  max="1"
		  step="0.1"
		  value="0.6"
		  condition="overlay && bg.type == 'image'"
		>
	</mbr-parameters>
	<div
	  class="mbr-overlay"
	  mbr-if="overlay && bg.type !== 'color'"
	></div>
	<div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
		<div class="row justify-content-center">
			<div class="col-12 content-head">
				<div class="mbr-section-head mb-5" mbr-if="showTitle || showSubtitle">
					<h4
					  class="mbr-section-title mbr-fonts-style align-center mb-0"
					  mbr-theme-style="display-2"
					  mbr-if="showTitle"
					  data-app-selector=".mbr-section-title"
					>
						<b>Meet the creators</b>
					</h4>
					<h5
					  class="mbr-section-subtitle mbr-fonts-style align-center mt-4"
					  mbr-theme-style="display-7"
					  mbr-if="showSubtitle"
					  data-app-selector=".mbr-section-subtitle"
					>
						To add more cards, hover on a card and click 'Add items'
					</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="item features-image col-12 col-md-6 col-lg-{{cardsWidth}}">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="../_images/people/team1.jpg" alt="Mobirise Website Builder" title>
					</div>
					<div
					  class="item-content align-left"
					  mbr-if="showCardTitle || showCardSubtitle || showText || showButtons"
					>
						<h5
						  class="item-title mbr-fonts-style"
						  mbr-theme-style="display-5"
						  data-app-selector=".item-title"
						  mbr-if="showCardTitle"
						><b>Emma Johnson</b></h5>
						<h6
						  class="item-subtitle mbr-fonts-style mb-3"
						  mbr-theme-style="display-7"
						  data-app-selector=".item-subtitle"
						  mbr-if="showCardSubtitle"
						>Project Manager</h6>
						<p
						  class="mbr-text mbr-fonts-style mt-3"
						  mbr-if="showText"
						  mbr-theme-style="display-7"
						  data-app-selector=".mbr-text, .mbr-section-btn"
						>Solulu Solutions<br></p>
					</div>
					<div
					  class="mbr-section-btn item-footer mt-2"
					  mbr-if="showButtons"
					  data-toolbar="-mbrBtnMove,-mbrBtnAdd"
					  mbr-buttons
					  mbr-theme-style="display-7"
					>
						<a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Contact</a>
					</div>
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-{{cardsWidth}}">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="../_images/people/team2.jpg" alt="Mobirise Website Builder" title>
					</div>
					<div
					  class="item-content align-left"
					  mbr-if="showCardTitle || showCardSubtitle || showText || showButtons"
					>
						<h5
						  class="item-title mbr-fonts-style"
						  mbr-theme-style="display-5"
						  data-app-selector=".item-title"
						  mbr-if="showCardTitle"
						><b>Lina Rodriguez</b></h5>
						<h6
						  class="item-subtitle mbr-fonts-style mb-3"
						  mbr-theme-style="display-7"
						  data-app-selector=".item-subtitle"
						  mbr-if="showCardSubtitle"
						>UX Designer</h6>
						<p
						  class="mbr-text mbr-fonts-style mt-3"
						  mbr-if="showText"
						  mbr-theme-style="display-7"
						  data-app-selector=".mbr-text, .mbr-section-btn"
						>
							Sphere Innovations
						</p>
					</div>
					<div
					  class="mbr-section-btn item-footer mt-2"
					  mbr-if="showButtons"
					  data-toolbar="-mbrBtnMove,-mbrBtnAdd"
					  mbr-buttons
					  mbr-theme-style="display-7"
					>
						<a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Contact</a>
					</div>
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-{{cardsWidth}}">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="../_images/people/team3.jpg" alt="Mobirise Website Builder" title>
					</div>
					<div
					  class="item-content align-left"
					  mbr-if="showCardTitle || showCardSubtitle || showText || showButtons"
					>
						<h5
						  class="item-title mbr-fonts-style"
						  mbr-theme-style="display-5"
						  data-app-selector=".item-title"
						  mbr-if="showCardTitle"
						><b>Aarav Patel</b></h5>
						<h6
						  class="item-subtitle mbr-fonts-style mb-3"
						  mbr-theme-style="display-7"
						  data-app-selector=".item-subtitle"
						  mbr-if="showCardSubtitle"
						>Lead Developer</h6>
						<p
						  class="mbr-text mbr-fonts-style mt-3"
						  mbr-if="showText"
						  mbr-theme-style="display-7"
						  data-app-selector=".mbr-text, .mbr-section-btn"
						>
							Biz TechnoWorks<br>
						</p>
					</div>
					<div
					  class="mbr-section-btn item-footer mt-2"
					  mbr-if="showButtons"
					  data-toolbar="-mbrBtnMove,-mbrBtnAdd"
					  mbr-buttons
					  mbr-theme-style="display-7"
					>
						<a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Contact</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>