<section
	class="header4"
	group="Headers"
	data-bg-video="{{bg.type == 'video' && bg.value.url}}"
	mbr-class="{'mbr-fullscreen': fullScreen,
                    'mbr-parallax-background': bg.parallax}"
>
	<mbr-parameters>
		<header>Size</header>
		<input type="checkbox" title="Full Screen" name="fullScreen" />
		<input type="checkbox" title="Full Width" name="fullWidth" checked />
		<input type="checkbox" title="Reverse" name="reverseContent" />
		<input
			type="range"
			inline
			title="Top"
			name="paddingTop"
			min="0"
			max="12"
			step="1"
			value="6"
			condition="fullScreen == false"
		/>
		<input
			type="range"
			inline
			title="Bottom"
			name="paddingBottom"
			min="0"
			max="12"
			step="1"
			value="6"
			condition="fullScreen == false"
		/>
		<input type="range" inline name="videoWidth" title="Video" min="4" max="8" step="1" value="8" />
		<header>Show/Hide</header>
		<input type="checkbox" title="Title" name="showTitle" checked />
		<input type="checkbox" title="Text" name="showText" checked />
		<input type="checkbox" title="Buttons" name="showButtons" checked />
		<header>Background</header>
		<fieldset type="background" name="bg" parallax>
			<input type="image" title="Image" value="../_images/background1.jpg" parallax />
			<input type="color" title="Color" value="#edefeb" selected />
			<input type="video" title="Video" value="https://vimeo.com/428046504" />
		</fieldset>
		<header condition="bg.type === 'video'">Fallback Image</header>
		<input
			type="image"
			title="Fallback Image"
			value="../_images/background1.jpg"
			name="fallBackImage"
			condition="bg.type === 'video'"
		/>
		<input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked />
		<input
			type="color"
			title="Overlay Color"
			name="overlayColor"
			value="#ffffff"
			condition="overlay && bg.type !== 'color'"
		/>
		<input
			type="range"
			inline
			title="Opacity"
			name="overlayOpacity"
			min="0"
			max="1"
			step="0.1"
			value="0.5"
			condition="overlay && bg.type !== 'color'"
		/>
	</mbr-parameters>

	<div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
	<div
		class="mbr-overlay"
		mbr-if="overlay && bg.type!== 'color'"
		mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}"
	></div>

	<div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
		<div class="row justify-content-center">
			<div class="col-12 col-md">
				<div class="text-wrapper">
					<h2
						class="mbr-section-title mb-4 mbr-fonts-style"
						mbr-theme-style="display-2"
						mbr-if="showTitle"
						data-app-selector=".mbr-section-title"
					>
						<b>Intro with video</b>
					</h2>
					<p
						class="mbr-text mb-4 mbr-fonts-style"
						mbr-theme-style="display-7"
						mbr-if="showText"
						data-app-selector=".mbr-text, .mbr-section-btn"
					>
						Intro with color, paddings and a video on the right. Mobirise helps you cut down development
						time by providing you with a flexible website editor with a drag and drop interface.
					</p>
					<div
						class="mbr-section-btn mb-4"
						mbr-if="showButtons"
						data-toolbar="-mbrBtnMove"
						mbr-buttons
						mbr-theme-style="display-7"
					>
						<a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text"
							>Learn more</a
						>
					</div>
				</div>
			</div>
			<div mbr-video class="mbr-figure col-12 col-md-{{videoWidth}}">
				<iframe src="https://www.youtube.com/watch?v=-BSQlJxCDcI&loop=1&autoplay=1"></iframe>
			</div>
		</div>
	</div>
</section>
