<section
  class="image06"
  group="Image & Video"
  data-bg-video="{{bg.type == 'video' && bg.value.url}}"
  mbr-class="{'mbr-fullscreen': fullScreen,'mbr-parallax-background': bg.parallax}"
>   
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen">
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input
          type="range"
          inline
          title="Top"
          name="paddingTop"
          min="0"
          max="10"
          step="1"
          value="5"
          condition="fullScreen == false"
        >
        <input
          type="range"
          inline
          title="Bottom"
          name="paddingBottom"
          min="0"
          max="10"
          step="1"
          value="5"
          condition="fullScreen == false"
        >
        <input
          type="range"
          name="textWidth"
          title="Image"
          min="4"
          max="12"
          step="1"
          value="8"
        >
        <select title="Align" name="contentAlign">
            <option value="justify-content-end" selected>Left</option>
            <option value="justify-content-center">Center</option>
            <option value="justify-content-start">Right</option>
        </select>
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle">
        <input type="checkbox" title="Text" name="showText" checked>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg">
            <input type="color" title="Color" value="#ffffff" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input
          type="image"
          title="Fallback Image"
          value="../_images/background1.jpg"
          name="fallBackImage"
          condition="bg.type === 'video'"
        >
        <input
          type="checkbox"
          title="Overlay"
          name="overlay"
          condition="bg.type !== 'color'"
        >
        <input
          type="color"
          title="Overlay Color"
          name="overlayColor"
          value="#ffffff"
          condition="overlay && bg.type !== 'color'"
        >
        <input
          type="range"
          inline
          title="Opacity"
          name="overlayOpacity"
          min="0"
          max="1"
          step="0.1"
          value="0.7"
          condition="overlay && bg.type !== 'color'"
        >
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div
      class="mbr-overlay"
      mbr-if="overlay && bg.type!== 'color'"
      mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}"
    >
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row {{contentAlign}}">
            <div class="col-12 col-lg-{{textWidth}}">
                <div class="image-wrapper mb-4">
                    <img class="w-100"
                        src="../_images/hightlights/6.jpg"
                        alt="Mobirise Website Builder">
                </div>
                <h4
                  class="mbr-description mbr-fonts-style mb-3 align-center"
                  mbr-theme-style="display-5"
                  mbr-if="showTitle"
                  data-app-selector=".mbr-description"
                >
                    <b>Once inspired, we refine our ideas</b>
                </h4>
                <p
                  class="mbr-description mbr-fonts-style mb-0 align-center"
                  mbr-theme-style="display-7"
                  mbr-if="showText"
                  data-app-selector=".mbr-description"
                >
                    The dance of needle and thread, weaving dreams into reality.</p>
            </div>
        </div>
    </div>
</section>