<section class="content9" group="Content">
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline="" title="Top" name="paddingTop" min="0" max="10" step="1" value="5">
        <input type="range" inline="" title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5">
        <input type="range" name="textWidth" title="Width" min="4" max="12" value="10" step="1">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle">
        <input type="checkbox" title="Stylized Counters" name="stylizedCounters" checked="">
        <input type="checkbox" title="Square Counters" name="squareCounters" condition="stylizedCounters">
        <input type="color" name="iconColor" title="Color" value="#6592e6">
        <header>Background</header>
        <input type="color" title="Color" name="bgColor" value="#ffffff">
    </mbr-parameters>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="counter-container col-md-12 col-lg-{{textWidth}}">
                <h4 class="mbr-section-title mbr-fonts-style mb-4" mbr-if="showTitle" data-app-selector=".mbr-section-title" mbr-theme-style="display-5">
                    Shape your future web project with the Mobirise app.
                </h4>
                <div class="mbr-text mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".mbr-text" data-multiline mbr-article>
                    <ol>
                        <li><b>No Coding </b>You don't have to code to create your own site. Select one of available themes in the Mobirise sitebuilder. <a href="https://mobiri.se/">Try it now!</a></li>
                        <li><b>Mobile Friendly. </b>All sites you create with the Mobirise web builder are mobile-friendly natively. No special actions required. <a href="https://mobiri.se/">Try it now!</a></li>
                        <li><b>Unique Styles. </b>Select the theme that suits you. Each theme in the Mobirise site builder contains a set of unique blocks. <a href="https://mobiri.se/">Try it now!</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>