<section
  class="header09 startm5"
  group="Headers"
  data-bg-video="{{bg.type == 'video' && bg.value.url}}"
  mbr-class="{'mbr-fullscreen': fullScreen, 'mbr-parallax-background': bg.parallax}"
>	
    <mbr-parameters>
		<header>Size</header>
		<input type="checkbox" title="Full Screen" name="fullScreen" checked />
		<input type="checkbox" title="Full Width" name="fullWidth" checked />
		<input type="range" inline title="Top" name="paddingTop" min="0" max="12" step="1" value="6"
			condition="fullScreen == false" />
		<input type="range" inline title="Bottom" name="paddingBottom" min="0" max="12" step="1" value="6"
			condition="fullScreen == false" />
		<input type="range" inline name="contentWidth" title="Content Width" min="4" max="12" step="1" value="8" />
		<header>Show / Hide</header>
		<input type="checkbox" title="Title" name="showTitle" checked />
		<input type="checkbox" title="Subtitle" name="showSubtitle" />
		<input type="checkbox" title="Text" name="showText" checked />
		<input type="checkbox" title="Buttons" name="showButtons" checked />
		<select title="Vertical Align" name="verticalAlign" condition="fullScreen">
			<option value="flex-start">Top</option>
			<option value="center" selected>Center</option>
			<option value="flex-end">Bottom</option>
		</select>
		<select title="Horizontal Align" name="horizontalAlign">
			<option value="flex-start">Left</option>
			<option value="center" selected>Center</option>
			<option value="flex-end">Right</option>
		</select>
		<header>Background</header>
		<fieldset type="background" name="bg" parallax>
			<input type="image" title="Image" value="../_images/background1.jpg" selected />
			<input type="color" title="Color" value="#393193" />
			<input type="video" title="Video" value="https://vimeo.com/428046504" />
		</fieldset>
		<header condition="bg.type === 'video'">Fallback Image</header>
		<input
		  type="image"
		  title="Fallback Image"
		  value="../_images/background1.jpg"
		  name="fallBackImage"
		  condition="bg.type === 'video'"
		/>
		<input
		  type="checkbox"
		  title="Overlay"
		  name="overlay"
		  condition="bg.type !== 'color'"
		/>
		<input
		  type="color"
		  title="Overlay Color"
		  name="overlayColor"
		  value="#f92c50"
		  condition="overlay && bg.type !== 'color'"
		/>
		<input
		  type="range"
		  inline
		  title="Opacity"
		  name="overlayOpacity"
		  min="0"
		  max="1"
		  step="0.1"
		  value="0.5"
		  condition="overlay && bg.type !== 'color'"
		/>
	</mbr-parameters>
	<div
	  class="mbr-overlay"
	  mbr-if="overlay && bg.type !== 'color'"
	  opacity="{{overlayOpacity}}"
	  bg-color="{{overlayColor}}"
	></div>
	<div
	  class="mbr-fallback-image disabled"
	  mbr-if="bg.type == 'video'"
	></div>
	<div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
		<div class="row">
			<div class="content-wrap col-12 col-md-{{contentWidth}}">
				<h1
				  class="mbr-section-title mbr-fonts-style mbr-white mb-4"
				  mbr-theme-style="display-1"
				  data-app-selector=".mbr-section-title"
				  mbr-if="showTitle"
				>
					<b>Create, connect, shine</b>
				</h1>
				<h2
				  class="mbr-section-title mbr-fonts-style mbr-white mb-4"
				  data-app-selector=".mbr-section-title"
				  mbr-theme-style="display-2"
				  mbr-if="showSubtitle"
				>
					Header Subtitle
				</h2>
				<p
				  class="mbr-fonts-style mbr-text mbr-white mb-4"
				  mbr-theme-style="display-7"
				  mbr-if="showText"
				  data-app-selector=".mbr-text, .mbr-section-btn"
				>
					Mobirise Free Website Maker is perfect for non-techies and great for pro-coders for fast prototyping
					and small customers' projects.
				</p>
				<div
				  class="mbr-section-btn"
				  mbr-if="showButtons"
				  data-toolbar="-mbrBtnMove"
				  mbr-buttons
				  mbr-theme-style="display-7"
				>
					<a
					  class="btn btn-danger"
					  href="https://mobiri.se"
					  data-app-placeholder="Type Text"
					>
						Learn more
					</a>
				</div>
			</div>
		</div>
	</div>
</section>