<section class="features20" group="Features" data-bg-video="{{bg.type == 'video' && bg.value.url}}"
    mbr-class="{'mbr-parallax-background': bg.parallax}" plugins="mobirise-icons2">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="9" step="1" value="6">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="9" step="1" value="6">
        <input type="range" name="textWidth" title="Width" min="7" max="12" value="9" step="1">
        <select title="Steps" name="steps">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Button" name="showButton">
        <header>Step</header>
        <input type="checkbox" title="Title" name="showCardTitle" checked>
        <input type="checkbox" title="Text" name="showCardText" checked>
        <input type="color" name="iconColor" title="Color" value="#6592e6">
        <input type="checkbox" title="Arrows" name="showArrows" checked>
        <input type="color" name="iconColor" title="Color" value="#6592e6">
        <input type="range" inline title="Arrows Size" name="arrowsSize" min="10" max="100" step="1" value="32"
            condition="showArrows">
            <input type="range" inline title="Arrows Top" name="arrowsTop" min="0" max="150" step="1" value="120"
            condition="showArrows">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg">
            <input type="color" title="Color" value="#ffffff" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.8"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-{{textWidth}}" mbr-if="showTitle || showText || showButton">
                <div class="card-wrapper pb-4">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style mb-4" mbr-theme-style="display-2" mbr-if="showTitle"
                            data-app-selector=".card-title, .card-box">
                            <b>Steps</b>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4" mbr-theme-style="display-7" mbr-if="showText"
                            data-app-selector=".mbr-text, .mbr-section-btn">
                            Mobirise is a free offline app for Windows and Mac to easily create small/medium websites,
                            landing pages, online resumes and portfolios. 2500+ beautiful website blocks, templates and
                            themes help you to start easily.</p>
                        <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn" data-toolbar="-mbrBtnMove"
                            mbr-if="showButton">
                            <a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text">Create
                                your own site</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-{{textWidth-1}}">
                <div class="item mbr-flex" mbr-class="{'last': steps == 1}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">1</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Specification</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 1" mbr-class="{'last': steps == 2}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">2</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Project Planning</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 2" mbr-class="{'last': steps == 3}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">3</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Deployment</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 3" mbr-class="{'last': steps == 4}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">4</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Specification</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 4" mbr-class="{'last': steps == 5}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">5</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Project Planning</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 5" mbr-class="{'last': steps == 6}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">6</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Deployment</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 6" mbr-class="{'last': steps == 7}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">7</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Specification</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 7" mbr-class="{'last': steps == 8}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">8</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Project Planning</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 8" mbr-class="{'last': steps == 9}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">9</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Deployment</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
                <div class="item mbr-flex" mbr-if="steps > 9" mbr-class="{'last': steps == 10}">
                    <div class="icon-box">
                        <span class="step-number mbr-fonts-style" mbr-theme-style="display-5">10</span>
                    </div>
                    <div class="text-box" mbr-if="showCardTitle || showCardText">
                        <h4 class="icon-title card-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                            data-app-selector=".icon-title" mbr-if="showCardTitle">
                            <b>Deployment</b>
                        </h4>
                        <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                            data-app-selector=".icon-text" mbr-if="showCardText">Mobirise is perfect for non-techies who
                            are not familiar with
                            the intricacies of web development.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>