<section class="article07" group="Article" data-bg-video="{{bg.type == 'video' && bg.value.url}}"
  mbr-class="{
  'mbr-fullscreen': fullScreen,
  'mbr-parallax-background': bg.parallax}">
  <mbr-parameters>
    <header>Size</header>
    <input type="checkbox" title="Full Screen" name="fullScreen">
    <input type="checkbox" title="Full Width" name="fullWidth">
    <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5">
    <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5">
    <input type="range" inline title="Content Width" name="contentWidth" min="8" max="12" step="1" value="10">
    <header>Show/Hide</header>
    <input type="checkbox" title="Title" name="showTitle">
    <input type="checkbox" title="Subtitle" name="showSubtitle">
    <input type="color" name="iconColor" title="Color" value="#9fe870">
    <input type="color" title="Wrap Bg" name="wrapBgColor" value="#ffffff">
    <header>Background</header>
    <fieldset type="background" name="bg" parallax>
      <input type="image" title="Image"
        value="../_images/background1.jpg"
        parallax>
      <input type="color" title="Color" value="#edefeb" selected>
      <input type="video" title="Video" value="https://vimeo.com/428046504">
    </fieldset>
    <header condition="bg.type === 'video'">Fallback Image</header>
    <input
      type="image"
      title="Fallback Image"
      value="../_images/background1.jpg"
      name="fallBackImage"
      condition="bg.type === 'video'"
    >
    <input
      type="checkbox"
      title="Overlay"
      name="overlay"
      condition="bg.type !== 'color'"
      checked
    >
    <input
      type="color"
      title="Overlay Color"
      name="overlayColor"
      value="#ffffff"
      condition="overlay && bg.type !== 'color'"
    >
    <input
      type="range"
      inline
      title="Opacity"
      name="overlayOpacity"
      min="0"
      max="1"
      step="0.1"
      value="0.3"
      condition="overlay && bg.type !== 'color'"
    >
  </mbr-parameters>

  <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
  <div
    class="mbr-overlay"
    mbr-if="overlay && bg.type!== 'color'"
    mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}"
  >
  </div>
  <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-{{contentWidth}}">
        <div class="card-wrapper">
          <div
            class="col-12 content-head mt-3"
            mbr-if="showSubtitle || showTitle"
          >
            <h3
              class="mbr-section-title mbr-fonts-style align-center mb-0"
              mbr-theme-style="display-2"
              mbr-if="showTitle"
              data-app-selector=".mbr-section-title"
            >
              <b>List</b>
            </h3>
            <h5
              class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4"
              mbr-theme-style="display-7"
              mbr-if="showSubtitle"
              data-app-selector=".mbr-section-subtitle"
            >
              Press "Enter" to add more items to the list.
            </h5>
          </div>
          <div class="card-box align-left mt-4">
            <div
              class="mbr-text counter-container mbr-fonts-style"
              mbr-theme-style="display-7"
              data-app-selector=".mbr-text"
              data-multiline
              mbr-article
            >
              <ol>
                <li><b>Inspiration.</b> We begin by seeking inspiration from various sources, exploring trends,
                    and brainstorming ideas to fuel creativity.</li>
                <li><b>Concept.</b> Once inspired, we refine our ideas, developing a clear concept and
                  direction for the project.</li>
                <li><b>Design.</b> With a solid concept in place, our team dives into the design and creation phase,
                  bringing ideas to life.</li>
                <li><b>Feedback.</b> We value collaboration and gather feedback to refine our work, ensuring it aligns
                  with your vision.</li>
                <li><b>Delivery.</b> The final step involves delivering the polished project, ready to captivate your
                  audience and achieve your goals.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>