<section class="map1" group="Maps">
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" name="fullWidth" title="Full Width">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked="">
        <input type="checkbox" title="Subtitle" name="showSubtitle">
        <header>Map</header>
        <input type="map" title="Map" name="googleMap">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg" parallax>
            <input type="color" title="Color" value="#ffffff" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#000000"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.8"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>
    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'" opacity="{{overlayOpacity}}" bg-color="{{overlayColor}}"></div>
    <div mbr-class="{'container': !fullWidth}">
        <div class="mbr-section-head mb-4" mbr-if="showTitle || showSubtitle">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0" mbr-theme-style="display-2"
                mbr-if="showTitle" data-app-selector=".mbr-section-title">
                <b>Map</b>
            </h3>
            <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2" mbr-theme-style="display-5"
                mbr-if="showSubtitle" data-app-selector=".mbr-section-subtitle">
                Find us here
            </h4>
        </div>
        <div class="google-map" mbr-map="googleMap">
        </div>
    </div>
</section>