<section class="features13" group="Features" data-bg-video="{{bg.type == 'video' && bg.value.url}}"
    mbr-class="{'mbr-parallax-background': bg.parallax}" plugins="mobirise-icons2">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="9" step="1" value="6">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="9" step="1" value="6">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Button" name="showButton" checked>
        <input type="color" name="iconColor" title="Color" value="#6592e6">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg">
            <input type="color" title="Color" value="#ffffff" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.8"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6" mbr-if="showTitle || showText || showButton">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mb-4" mbr-theme-style="display-2" mbr-if="showTitle"
                            data-app-selector=".card-title, .card-box">
                            <b>What is Mobirise?</b>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4" mbr-theme-style="display-7" mbr-if="showText"
                            data-app-selector=".mbr-text, .mbr-section-btn">
                            Use Mobirise website building software to create multiple sites for commercial and non-profit projects.</p>
                        <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn" data-toolbar="-mbrBtnMove" mbr-if="showButton">
                            <a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text">Create your own site</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="item features-without-image">
                    <div class="item-wrapper mbr-flex">
                        <div class="icon-box">
                            <span mbr-icon class="mbr-iconfont mobi-mbri-globe-2 mobi-mbri"></span>
                        </div>
                        <div class="text-box">
                            <h4 class="icon-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                                data-app-selector=".icon-title">
                                <b>No Coding</b>
                            </h4>
                            <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                                data-app-selector=".icon-text">You don't have to code to create your own site. Select one of available themes in the Mobirise sitebuilder.</h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image">
                    <div class="item-wrapper mbr-flex">
                        <div class="icon-box">
                            <span mbr-icon class="mbr-iconfont mobi-mbri-update mobi-mbri"></span>
                        </div>
                        <div class="text-box">
                            <h4 class="icon-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                                data-app-selector=".icon-title">
                                <b>Mobile Friendly</b>
                            </h4>
                            <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                                data-app-selector=".icon-text">All sites you create with the Mobirise web builder are mobile-friendly natively. No special actions required.</h5>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image">
                    <div class="item-wrapper mbr-flex">
                        <div class="icon-box">
                            <span mbr-icon class="mbr-iconfont mobi-mbri-user-2 mobi-mbri"></span>
                        </div>
                        <div class="text-box">
                            <h4 class="icon-title mbr-black mbr-fonts-style" mbr-theme-style="display-7"
                                data-app-selector=".icon-title">
                                <b>Unique Styles</b>
                            </h4>
                            <h5 class="icon-text mbr-black mbr-fonts-style" mbr-theme-style="display-4"
                                data-app-selector=".icon-text">Select the theme that suits you. Each theme in the Mobirise site builder contains a set of unique blocks.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>