<section
  class="features22"
  group="Features"
  plugins="Masonry"
  data-bg-video="{{bg.type == 'video' && bg.value.url}}"
  mbr-class="{'mbr-parallax-background': bg.parallax}"
>
  <mbr-parameters>
    <header>Size</header>
    <input type="checkbox" title="Full Width" name="fullWidth" />
    <input
      type="range"
      inline
      title="Top"
      name="paddingTop"
      min="0"
      max="10"
      step="1"
      value="6"
    />
    <input
      type="range"
      inline
      title="Bottom"
      name="paddingBottom"
      min="0"
      max="10"
      step="1"
      value="6"
    />
    <header>Show/Hide</header>
    <input type="checkbox" title="Title" name="showMainTitle" checked />
    <input type="checkbox" title="Subtitle" name="showMainSubtitle" checked />
    <header>Card</header>
    <input type="checkbox" title="Title" name="showTitle" checked />
    <input type="checkbox" title="Text" name="showText" checked />
    <input type="checkbox" title="Icons" name="showIcon" checked />
    <input type="checkbox" name="showButtons" title="Buttons" />
    <input
      type="color"
      title="Icon Color"
      name="iconColor"
      value="#d70081"
      selected
      condition="showIcon"
    />
    <input
      type="color"
      title="Icon BG"
      name="iconbg"
      value="#ffd7ef"
      selected
      condition="showIcon"
    />
    <select title="Columns" name="columns">
      <option value="12">1</option>
      <option value="6">2</option>
      <option value="4" selected>3</option>
      <option value="3">4</option>
    </select>
    <input type="color" title="BG" name="cardbg" value="#ffffff" selected />
    <header>Background</header>
    <fieldset type="background" name="bg" parallax>
      <input
        type="image"
        title="Image"
        value="../_images/background1.jpg"
        parallax
      />
      <input type="color" title="Color" value="#edefeb" selected />
      <input type="video" title="Video" value="https://vimeo.com/428046504" />
    </fieldset>
    <header condition="bg.type === 'video'">Fallback Image</header>
    <input
      type="image"
      title="Fallback Image"
      value="../_images/background1.jpg"
      name="fallBackImage"
      condition="bg.type === 'video'"
    />
    <input
      type="checkbox"
      title="Overlay"
      name="overlay"
      condition="bg.type !== 'color'"
      checked
    />
    <input
      type="color"
      title="Overlay Color"
      name="overlayColor"
      value="#ffffff"
      condition="overlay && bg.type !== 'color'"
    />
    <input
      type="range"
      inline
      title="Opacity"
      name="overlayOpacity"
      min="0"
      max="1"
      step="0.1"
      value="0.5"
      condition="overlay && bg.type !== 'color'"
    />
  </mbr-parameters>

  <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
  <div
    class="mbr-overlay"
    mbr-if="overlay && bg.type!== 'color'"
    mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}"
  ></div>
  <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
    <div
      class="row mb-5 justify-content-center"
      mbr-if="showMainTitle || showMainSubtitle"
    >
      <div class="col-12 content-head">
        <h3
          class="mbr-section-title mbr-fonts-style align-center mb-0"
          mbr-theme-style="display-2"
          mbr-if="showMainTitle"
          data-app-selector=".mbr-section-title"
        >
          <b>Features with Masonry Effect</b>
        </h3>
        <h5
          class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4"
          mbr-theme-style="display-7"
          mbr-if="showMainSubtitle"
          data-app-selector=".mbr-section-subtitle"
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          vitae erat. Integer aliquam, lorem vitae dapibus sollicitudin, nibh
          nisl egestas enim, ut dapibus odio augue tempus venenatis mi semper.
        </h5>
      </div>
    </div>
    <div class="row mbr-masonry" data-masonry='{"percentPosition": true }'>
      <div
        class="item features-without-image col-12 col-md-6 col-lg-{{columns}} item-mb"
      >
        <div class="item-wrapper">
          <div class="card-box align-left">
            <div class="iconfont-wrapper" mbr-if="showIcon">
              <span
                mbr-icon
                class="mbr-iconfont mobi-mbri-idea mobi-mbri"
              ></span>
            </div>
            <h5
              class="card-title mbr-fonts-style"
              mbr-theme-style="display-5"
              mbr-if="showTitle"
              data-app-selector=".card-title, .iconfont-wrapper"
            >
              <b>Creation</b>
            </h5>
            <p
              class="card-text mbr-fonts-style"
              mbr-theme-style="display-7"
              mbr-if="showText"
              data-app-selector=".card-text"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              vitae erat. Integer aliquam, lorem vitae dapibus sollicitudin,
              nibh nisl egestas enim, ut dapibus odio augue venenatis mi. Ut
              tempus dui at mi semper, vel dapibus nisl consectetur. Phasellus
              consectetur sapien non lacus imperdiet dapibus. In facilisis sed
              mi rutrum consequat. Sed augue sem diam.
            </p>

            <div
              class="mbr-section-btn item-footer"
              mbr-if="showButtons"
              data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons=""
              mbr-theme-style="display-7"
            >
              <a
                href=""
                class="btn item-btn btn-primary"
                data-app-placeholder="Type Text"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="item features-without-image col-12 col-md-6 col-lg-{{columns}} item-mb"
      >
        <div class="item-wrapper">
          <div class="card-box align-left">
            <div class="iconfont-wrapper" mbr-if="showIcon">
              <span
                mbr-icon
                class="mbr-iconfont mobi-mbri-growing-chart mobi-mbri"
              ></span>
            </div>
            <h5
              class="card-title mbr-fonts-style"
              mbr-theme-style="display-5"
              mbr-if="showTitle"
              data-app-selector=".card-title, .iconfont-wrapper"
            >
              <b>Promotion</b>
            </h5>
            <p
              class="card-text mbr-fonts-style"
              mbr-theme-style="display-7"
              mbr-if="showText"
              data-app-selector=".card-text"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              vitae erat. Integer aliquam, lorem vitae dapibus sollicitudin,
              nibh nisl egestas enim, ut dapibus odio augue venenatis mi.
            </p>

            <div
              class="mbr-section-btn item-footer"
              mbr-if="showButtons"
              data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons=""
              mbr-theme-style="display-7"
            >
              <a
                href=""
                class="btn item-btn btn-primary"
                data-app-placeholder="Type Text"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="item features-without-image col-12 col-md-6 col-lg-{{columns}} item-mb"
      >
        <div class="item-wrapper">
          <div class="card-box align-left">
            <div class="iconfont-wrapper" mbr-if="showIcon">
              <span
                mbr-icon
                class="mbr-iconfont mobi-mbri-change-style mobi-mbri"
              ></span>
            </div>
            <h5
              class="card-title mbr-fonts-style"
              mbr-theme-style="display-5"
              mbr-if="showTitle"
              data-app-selector=".card-title, .iconfont-wrapper"
            >
              <b>Branding</b>
            </h5>
            <p
              class="card-text mbr-fonts-style"
              mbr-theme-style="display-7"
              mbr-if="showText"
              data-app-selector=".card-text"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              vitae erat. Integer aliquam, lorem vitae dapibus sollicitudin,
              nibh nisl egestas enim, ut dapibus odio augue venenatis mi. Ut
              tempus dui at mi semper, vel dapibus nisl consectetur. Phasellus
              consectetur sapien non lacus imperdiet dapibus. In facilisis sed
              mi rutrum consequat. Sed augue sem diam.
            </p>

            <div
              class="mbr-section-btn item-footer"
              mbr-if="showButtons"
              data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons=""
              mbr-theme-style="display-7"
            >
              <a
                href=""
                class="btn item-btn btn-primary"
                data-app-placeholder="Type Text"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="item features-without-image col-12 col-md-6 col-lg-{{columns}} item-mb"
      >
        <div class="item-wrapper">
          <div class="card-box align-left">
            <div class="iconfont-wrapper" mbr-if="showIcon">
              <span
                mbr-icon
                class="mbr-iconfont mobi-mbri-change-style mobi-mbri"
              ></span>
            </div>
            <h5
              class="card-title mbr-fonts-style"
              mbr-theme-style="display-5"
              mbr-if="showTitle"
              data-app-selector=".card-title, .iconfont-wrapper"
            >
              <b>Design</b>
            </h5>
            <p
              class="card-text mbr-fonts-style"
              mbr-theme-style="display-7"
              mbr-if="showText"
              data-app-selector=".card-text"
            >
              Ut tempus dui at mi semper, vel dapibus nisl consectetur.
              Phasellus consectetur sapien non lacus imperdiet dapibus. In
              facilisis sed mi rutrum consequat. Sed augue sem diam.
            </p>

            <div
              class="mbr-section-btn item-footer"
              mbr-if="showButtons"
              data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons=""
              mbr-theme-style="display-7"
            >
              <a
                href=""
                class="btn item-btn btn-primary"
                data-app-placeholder="Type Text"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="item features-without-image col-12 col-md-6 col-lg-{{columns}} item-mb"
      >
        <div class="item-wrapper">
          <div class="card-box align-left">
            <div class="iconfont-wrapper" mbr-if="showIcon">
              <span
                mbr-icon
                class="mbr-iconfont mobi-mbri-change-style mobi-mbri"
              ></span>
            </div>
            <h5
              class="card-title mbr-fonts-style"
              mbr-theme-style="display-5"
              mbr-if="showTitle"
              data-app-selector=".card-title, .iconfont-wrapper"
            >
              <b>Creation</b>
            </h5>
            <p
              class="card-text mbr-fonts-style"
              mbr-theme-style="display-7"
              mbr-if="showText"
              data-app-selector=".card-text"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              vitae erat. Integer aliquam, lorem vitae dapibus sollicitudin,
              nibh nisl egestas enim, ut dapibus odio augue venenatis mi. Ut
              tempus dui at mi semper, vel dapibus nisl consectetur. Phasellus
              consectetur sapien non lacus imperdiet dapibus. In facilisis sed
              mi rutrum consequat. Sed augue sem diam.
            </p>

            <div
              class="mbr-section-btn item-footer"
              mbr-if="showButtons"
              data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons=""
              mbr-theme-style="display-7"
            >
              <a
                href=""
                class="btn item-btn btn-primary"
                data-app-placeholder="Type Text"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="item features-without-image col-12 col-md-6 col-lg-{{columns}} item-mb"
      >
        <div class="item-wrapper">
          <div class="card-box align-left">
            <div class="iconfont-wrapper" mbr-if="showIcon">
              <span
                mbr-icon
                class="mbr-iconfont mobi-mbri-change-style mobi-mbri"
              ></span>
            </div>
            <h5
              class="card-title mbr-fonts-style"
              mbr-theme-style="display-5"
              mbr-if="showTitle"
              data-app-selector=".card-title, .iconfont-wrapper"
            >
              <b>Workflow</b>
            </h5>
            <p
              class="card-text mbr-fonts-style"
              mbr-theme-style="display-7"
              mbr-if="showText"
              data-app-selector=".card-text"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              aliquam, lorem vitae dapibus sollicitudin, nibh nisl egestas enim,
              ut dapibus odio augue venenatis mi. Phasellus consectetur sapien
              non lacus imperdiet dapibus.
            </p>

            <div
              class="mbr-section-btn item-footer"
              mbr-if="showButtons"
              data-toolbar="-mbrBtnMove,-mbrBtnAdd"
              mbr-buttons=""
              mbr-theme-style="display-7"
            >
              <a
                href=""
                class="btn item-btn btn-primary"
                data-app-placeholder="Type Text"
                >Learn More</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
