<section class="features5" group="Features" data-bg-video="{{bg.type == 'video' && bg.value.url}}"
    mbr-class="{'mbr-parallax-background': bg.parallax}" plugins="mobirise-icons2">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="9" step="1" value="6">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="9" step="1" value="6">
        <header>Show/Hide</header>
        <input type="checkbox" title="Subtitle" name="showsubTitle" checked>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Text" name="showText" checked>

        <input type="checkbox" title="Buttons" name="showButtons" checked>
        <input type="color" title="Card Color" name="cardColor" value="#fafafa" condition="showLink" selected>

        <select title="Columns" name="columns">
            <option value="3">4</option>
            <option value="4">3</option>
            <option value="6" selected>2</option>
            <option value="12">1</option>
        </select>

        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background3.jpg" parallax>
            <input type="color" title="Color" value="#ffffff" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row">
            <div class="item features-without-image mb-4 col-12 col-md-{{columns}}">
                <div class="item-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="text-wrapper">
                                <h6 class="card-subtitle mbr-fonts-style mb-2" mbr-theme-style="display-4"
                                    mbr-if="showsubTitle" data-app-selector=".card-subtitle">
                                    Website Builder
                                </h6>
                                <h5 class="card-title mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showTitle"
                                    data-app-selector=".card-title">
                                    <b>No Coding</b>
                                </h5>
                                <p class="mbr-text mbr-fonts-style mb-5" mbr-theme-style="display-4" mbr-if="showText"
                                    data-app-selector=".mbr-text, .mbr-section-btn">You don't have to code when you create your own site. Select one of available themes in the Mobirise sitebuilder.</p>
                                <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn"
                                    mbr-if="showButtons" data-toolbar="-mbrBtnMove">
                                    <a href="https://mobiri.se" class="btn btn-warning"
                                        data-app-placeholder="Type Text">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="img-wrapper">
                                <img src="../_images/clients/1.png" alt="Mobirise Website Builder">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-without-image mb-4 col-12 col-md-{{columns}}">
                <div class="item-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="text-wrapper">
                                <h6 class="card-subtitle mbr-fonts-style mb-2" mbr-theme-style="display-4"
                                    mbr-if="showsubTitle" data-app-selector=".card-subtitle">
                                    Website Builder
                                </h6>
                                <h5 class="card-title mbr-fonts-style" mbr-theme-style="display-5" mbr-if="showTitle"
                                    data-app-selector=".card-title">
                                    <b>Unique Styles</b>
                                </h5>
                                <p class="mbr-text mbr-fonts-style mb-5" mbr-theme-style="display-4" mbr-if="showText"
                                    data-app-selector=".mbr-text, .mbr-section-btn">Select the theme that suits you. Each theme in the Mobirise website building software contains a set of unique blocks.</p>
                                <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn"
                                    mbr-if="showButtons" data-toolbar="-mbrBtnMove">
                                    <a href="https://mobiri.se" class="btn btn-warning"
                                        data-app-placeholder="Type Text">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="img-wrapper">
                                <img src="../_images/clients/3.png" alt="Mobirise Website Builder">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>