<section
  class="slider3"
  group="Gallery & Slider"
  mbr-class="{'mbr-fullscreen': fullScreen}"
>
    <mbr-parameters>
        <input type="id" name="sliderId">
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="0" condition="!fullScreen">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="0" condition="!fullScreen">
        <header>Carousel</header>
        <input type="checkbox" title="Fade Effect" name="fade">
        <input type="checkbox" title="Autoplay" name="autoplay">
        <input type="range" title="Interval" name="interval" min="3" max="10" value="5" step="1" condition="autoplay">
        <header>Slide</header>
        <input type="checkbox" title="Caption" name="showCaption" checked>
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Button" name="showButtons" checked>
        <input type="checkbox" title="Bullets" name="showBullets" checked>
        <input type="checkbox" title="Arrows" name="showArrows" checked>
        <header>Background</header>
        <input type="color" title="Color" name="bgColor" value="#ffffff" selected>
    </mbr-parameters>
    <div id={{sliderId}} class="carousel slide" mbr-class="{'carousel-fade': fade}" data-ride="{{autoplay ? 'carousel' : false}}" data-interval="{{interval*1000}}">
        <ol class="carousel-indicators" mbr-if="showBullets">
            <li data-target="#{{sliderId}}" data-slide-to="0" class="active"></li>
            <li data-target="#{{sliderId}}" data-slide-to="1"></li>
            <li data-target="#{{sliderId}}" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item slider-image item active">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="../_images/background18.jpg" alt="Mobirise Website Builder">
                    <div class="mbr-overlay" mbr-if="overlay"
                        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
                    </div>
                    <div class="carousel-caption" mbr-if="showCaption || showText || showButtons">
                        <h5 class="mbr-section-subtitle mbr-fonts-style mb-3" mbr-if="showCaption"
                            mbr-theme-style="display-5">
                            <b>Full-Width Slider</b>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style mb-4" mbr-if="showText" mbr-theme-style="display-7" data-app-selector=".mbr-section-text, .mbr-section-btn">Click on the image to edit slides.</p>
                        <div
						mbr-buttons
						mbr-theme-style="display-7"
						class="mbr-section-btn mb-5"
						mbr-if="showButtons"
						data-toolbar="-mbrBtnAdd, -mbrBtnMove, -mbrBtnRemove"
					>
						<a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text"
							>Get started</a
						>
					</div>     
                    </div>
                </div>
            </div>
            <div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="../_images/background16.jpg" alt="Mobirise Website Builder">
                    <div class="mbr-overlay" mbr-if="overlay"
                        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
                    </div>
                    <div class="carousel-caption" mbr-if="showCaption || showText || showButtons">
                        <h5 class="mbr-section-subtitle mbr-fonts-style mb-3" mbr-if="showCaption"
                            mbr-theme-style="display-5">
                            <b>Full-Width Slider</b>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style mb-4" mbr-if="showText" mbr-theme-style="display-7" data-app-selector=".mbr-section-text, .mbr-section-btn">Click on the image to edit slides.</p>
                        <div
						mbr-buttons
						mbr-theme-style="display-7"
						class="mbr-section-btn mb-5"
						mbr-if="showButtons"
						data-toolbar="-mbrBtnAdd, -mbrBtnMove, -mbrBtnRemove"
					>
						<a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text"
							>Get started</a
						>
					</div>     
                    </div>
                </div>
            </div>
            <div class="carousel-item slider-image item">
                <div class="item-wrapper">
                    <img class="d-block w-100" src="../_images/background19.jpg" alt="Mobirise Website Builder">
                    <div class="mbr-overlay" mbr-if="overlay"
                        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
                    </div>
                    <div class="carousel-caption" mbr-if="showCaption || showText || showButtons">
                        <h5 class="mbr-section-subtitle mbr-fonts-style mb-3" mbr-if="showCaption"
                            mbr-theme-style="display-5">
                            <b>Full-Width Slider</b>
                        </h5>
                        <p class="mbr-section-text mbr-fonts-style mb-4" mbr-if="showText" mbr-theme-style="display-7" data-app-selector=".mbr-section-text, .mbr-section-btn">Click on the image to edit slides.</p>
                        <div
						mbr-buttons
						mbr-theme-style="display-7"
						class="mbr-section-btn mb-5"
						mbr-if="showButtons"
						data-toolbar="-mbrBtnAdd, -mbrBtnMove, -mbrBtnRemove"
					>
						<a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text"
							>Get started</a
						>
					</div>     
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control carousel-control-prev" href="#{{sliderId}}" role="button" data-slide="prev">
            <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control carousel-control-next" href="#{{sliderId}}" role="button" data-slide="next">
            <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>