padding-top: (@paddingTop * 1rem);
padding-bottom: (@paddingBottom * 1rem);

& when (@bg-type ='color') {
  background-color: @bg-value;
}

& when (@bg-type ='image') {
  background-image: url(@bg-value);
}

.mbr-fallback-image.disabled {
  display: none;
}

.mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  & when (@bg-type ='video') {
    background-image: url(@fallBackImage);
  }
}

.mbr-description {
  text-align: left;
}

.item-wrapper {
  background: @cardbg;
  padding: 2.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    padding: 2rem 1.5rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    padding: 2rem 1.5rem;
  }
}

.card-title,
.iconfont-wrapper {
  color: #000000;
}

.card-text {
  color: #000000;
}

.mbr-section-title {
  color: #000000;
  text-align: center;
}

.mbr-number {
  color: #9fe870;
}

.mbr-text,
.mbr-section-btn {
  text-align: center;
}

.card-text,
.item .mbr-section-btn {
  text-align: left;
}

.mbr-section-btn {
  margin-top: 1rem;
}

.image-wrapper {
  margin-bottom: 0rem;
  padding: 0rem;

  @media (max-width: 767px) {
    padding: 0rem 0rem;
    margin-bottom: 0rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    padding: 0rem 0rem;
    margin-bottom: 0rem;
  }
}

.image-wrapper img {
  height: 100%;
  object-fit: cover;
}

.item-mb {
  margin-bottom: 2rem;

  @media (max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.card-title {
  text-align: left;
}

.item-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .item-footer {
    margin-top: auto;
  }
}