<section
  class="features036"
  group="Features"
  data-bg-video="{{bg.type == 'video' && bg.value.url}}"
  mbr-class="{'mbr-fullscreen': fullScreen,'mbr-parallax-background': bg.parallax}"
>
	<mbr-parameters>
		<header>Size</header>
		<input type="checkbox" title="Full Width" name="fullWidth">
		<input
		  type="range"
		  inline
		  title="Top"
		  name="paddingTop"
		  min="0"
		  max="10"
		  step="1"
		  value="6"
		>
		<input
		  type="range"
		  inline
		  title="Bottom"
		  name="paddingBottom"
		  min="0"
		  max="10"
		  step="1"
		  value="6"
		>
		<header>Show/Hide</header>
		<input type="checkbox" title="Title" name="showTitle">
		<input type="checkbox" title="Text" name="showText">
		<header>Card</header>
		<input type="checkbox" title="Card Title" name="showCardTitle">
		<input type="checkbox" title="Card Subtitle" name="showCardSubtitle" checked>
		<input type="checkbox" name="showButtons" title="Buttons">
		<input type="color" title="Card BG" name="cardbg" value="#ffffff" selected>
		<header>Background</header>
		<fieldset type="background" name="bg" parallax>
			<input type="image" title="Image" value="../_images/background1.jpg">
			<input type="color" title="Color" value="#edefeb" selected>
			<input type="video" title="Video" value="https://vimeo.com/428046504">
		</fieldset>
		<header condition="bg.type === 'video'">Fallback Image</header>
		<input
		  type="image"
		  title="Fallback Image"
		  value="../_images/background1.jpg"
		  name="fallBackImage"
		  condition="bg.type === 'video'"
		>
		<input
		  type="checkbox"
		  title="Overlay"
		  name="overlay"
		  condition="bg.type !== 'color'"
		>
		<input
		  type="color"
		  title="Overlay Color"
		  name="overlayColor"
		  value="#ffffff"
		  condition="overlay && bg.type !== 'color'"
		>
		<input
		  type="range"
		  inline
		  title="Opacity"
		  name="overlayOpacity"
		  min="0"
		  max="1"
		  step="0.1"
		  value="0.7"
		  condition="overlay && bg.type !== 'color'"
		>
	</mbr-parameters>

	<div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
	<div
	  class="mbr-overlay"
	  mbr-if="overlay && bg.type!== 'color'"
	  mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}"
	></div>

	<div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
		<div
		  class="row justify-content-center"
		  mbr-if="showTitle || showText"
		>
			<div class="col-md-12 content-head mb-5">
				<h1
				  class="mbr-section-title mbr-fonts-style  mb-0"
				  data-app-selector=".mbr-section-title"
				  mbr-theme-style="display-2"
				  mbr-if="showTitle"
				>
					<b>Features with images</b>
				</h1>
				<p
				  class="mbr-text mbr-fonts-style mt-4 mb-0"
				  mbr-theme-style="display-7"
				  mbr-if="showText"
				  data-app-selector=".mbr-text, .mbr-section-btn"
				>
					Hover over an item and click on 'Add Copy' to clone it. You can move added items.</p>
			</div>
		</div>


		<div class="row justify-content-center">
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb active">
				<div class="item-wrapper image-wrapper">
					<img class="w-100"
						src="../_images/hightlights/11.jpg"
						alt="Mobirise Website Builder" data-slide-to="0" data-bs-slide-to="0">
				</div>
			</div>

			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="align-left item-content">
						<h5
						  class="mbr-card-title mbr-fonts-style mt-0 mb-3 mbr-number"
						  mbr-if="showCardTitle"
						  data-app-selector=".mbr-number"
						  mbr-theme-style="display-1"
						>
							<b>01.</b>
						</h5>
						<h5
						  class="card-title mbr-fonts-style"
						  mbr-theme-style="display-5"
						  mbr-if="showCardSubtitle"
						  data-app-selector=".card-title, .iconfont-wrapper"
						>
							<b>Quality</b>
						</h5>
						<p
						  class="card-text mbr-fonts-style"
						  mbr-theme-style="display-7"
						  data-app-selector=".card-text, .item .mbr-section-btn"
						>
							Elevate your standards with our commitment to uncompromising quality. Each creation embodies precision, durability, and timeless excellence.
						</p>
						<div
						  class="mbr-section-btn item-footer"
						  mbr-if="showButtons"
						  data-toolbar="-mbrBtnMove,-mbrBtnAdd"
						  mbr-buttons
						  mbr-theme-style="display-7"
						>
							<a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Learn more</a>
						</div>
					</div>

				</div>
			</div>
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class=" align-left item-content">
						<h5
						  class="mbr-card-title mbr-fonts-style mt-0 mb-3 mbr-number"
						  mbr-if="showCardTitle"
						  data-app-selector=".mbr-number"
						  mbr-theme-style="display-1"
						>
							<b>02.</b>
						</h5>
						<h5
						  class="card-title mbr-fonts-style"
						  mbr-theme-style="display-5"
						  mbr-if="showCardSubtitle"
						  data-app-selector=".card-title, .iconfont-wrapper"
						>
							<b>Support</b>
						</h5>
						<p
						  class="card-text mbr-fonts-style"
						  mbr-theme-style="display-7"
						  data-app-selector=".card-text, .item .mbr-section-btn"
						>
							Our support system ensures you're never alone on your journey, offering guidance, resources,
							and solutions when you need them.</p>
						<div
						  class="mbr-section-btn item-footer"
						  mbr-if="showButtons"
						  data-toolbar="-mbrBtnMove,-mbrBtnAdd"
						  mbr-buttons
						  mbr-theme-style="display-7"
						>
							<a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Learn more</a>
						</div>
					</div>

				</div>
			</div>
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="align-left item-content">
						<h5
						  class="mbr-card-title mbr-fonts-style mt-0 mb-3 mbr-number"
						  mbr-if="showCardTitle"
						  data-app-selector=".mbr-number"
						  mbr-theme-style="display-1"
						>
							<b>03.</b>
						</h5>
						<h5
						  class="card-title mbr-fonts-style"
						  mbr-theme-style="display-5"
						  mbr-if="showCardSubtitle"
						  data-app-selector=".card-title, .iconfont-wrapper"
						>
							<b>Innovation</b>
						</h5>
						<p
						  class="card-text mbr-fonts-style"
						  mbr-theme-style="display-7"
						  data-app-selector=".card-text, .item .mbr-section-btn"
						>
							Discover the future of creativity through our solutions. We pioneer cutting-edge techniques
							to redefine creative possibilities.</p>
						<div
						  class="mbr-section-btn item-footer"
						  mbr-if="showButtons"
						  data-toolbar="-mbrBtnMove,-mbrBtnAdd"
						  mbr-buttons
						  mbr-theme-style="display-7"
						>
							<a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Learn more</a>
						</div>
					</div>

				</div>
			</div>
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="align-left item-content">
						<h5
						  class="mbr-card-title mbr-fonts-style mt-0 mb-3 mbr-number"
						  mbr-if="showCardTitle"
						  data-app-selector=".mbr-number"
						  mbr-theme-style="display-1"
						>
							<b>04.</b>
						</h5>
						<h5
						  class="card-title mbr-fonts-style"
						  mbr-theme-style="display-5"
						  mbr-if="showCardSubtitle"
						  data-app-selector=".card-title, .iconfont-wrapper"
						>
							<b>Creativity</b>
						</h5>
						<p
						  class="card-text mbr-fonts-style"
						  mbr-theme-style="display-7"
						  data-app-selector=".card-text, .item .mbr-section-btn"
						>
							Our products are designed to spark and amplify your imagination, empowering you to express
							your unique artistic vision.</p>
						<div
						  class="mbr-section-btn item-footer"
						  mbr-if="showButtons"
						  data-toolbar="-mbrBtnMove,-mbrBtnAdd"
						  mbr-buttons
						  mbr-theme-style="display-7"
						>
							<a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Learn more</a>
						</div>
					</div>

				</div>
			</div>
			<div class="item features-without-image col-12 col-md-12 col-lg-4 item-mb">
				<div class="item-wrapper">
					<div class="align-left item-content">
						<h5
						  class="mbr-card-title mbr-fonts-style mt-0 mb-3 mbr-number"
						  mbr-if="showCardTitle"
						  data-app-selector=".mbr-number"
						  mbr-theme-style="display-1"
						>
							<b>04.</b>
						</h5>
						<h5
						  class="card-title mbr-fonts-style"
						  mbr-theme-style="display-5"
						  mbr-if="showCardSubtitle"
						  data-app-selector=".card-title, .iconfont-wrapper"
						>
							<b>Renewing</b>
						</h5>
						<p
						  class="card-text mbr-fonts-style"
						  mbr-theme-style="display-7"
						  data-app-selector=".card-text, .item .mbr-section-btn"
						>
							Crafting transformative moments, our brand enriches lives with innovative products that
							reform your journey.</p>
						<div
						  class="mbr-section-btn item-footer"
						  mbr-if="showButtons"
						  data-toolbar="-mbrBtnMove,-mbrBtnAdd"
						  mbr-buttons
						  mbr-theme-style="display-7"
						>
							<a href class="btn item-btn btn-primary" data-app-placeholder="Type Text">Learn more</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>