padding-top: (@paddingTop * 1rem);
padding-bottom: (@paddingBottom * 1rem);
& when (@bg-type = 'color') {
  background-color: @bg-value;
}
& when (@bg-type = 'image') {
  background-image: url(@bg-value);
}

.social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .soc-item {
    margin: 8px;
    a {
      &:hover, &:focus {
        .mbr-iconfont {
          background-color: @active;
        }
      }
      .mbr-iconfont {
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font-size: 32px;
        background-color: @iconBg;
        color: @icon;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.row-links {
  width: 100%;
  justify-content: center;
}
.mbr-section-title {
  color: #ffffff;
}
.mbr-section-title, .social-list {
  color: #000000;
}
