@font-face {
  font-family: 'app-builder-icons';
  src: url('../font/app-builder-icons.ttf?gpd1he') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="mbr-icon-"], [class*=" mbr-icon-"] {
  font-family: 'app-builder-icons';
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  text-decoration: none;
  text-align: center;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mbr-icon-unlink:before {
  content: "\f127";
}
.mbr-icon-lock:before {
  content: "\f023";
}
.mbr-icon-tablet:before {
  content: "\f10a";
}
.mbr-icon-map:before {
  content: "\f279";
}
.mbr-icon-stamp:before {
  content: "\f5bf";
}
.mbr-icon-copy:before {
  content: "\f0c5";
}
.mbr-icon-rss:before {
  content: "\f09e";
}
.mbr-icon-bars:before {
  content: "\f0c9";
}
.mbr-icon-list-ol:before {
  content: "\f0cb";
}
.mbr-icon-dot-circle:before {
  content: "\f192";
}
.mbr-icon-save:before {
  content: "\f0c7";
}
.mbr-icon-language:before {
  content: "\f1ab";
}
.mbr-icon-italic:before {
  content: "\f033";
}
.mbr-icon-arrow-down:before {
  content: "\f063";
}
.mbr-icon-arrow-left:before {
  content: "\f060";
}
.mbr-icon-mouse-pointer:before {
  content: "\f245";
}
.mbr-icon-smiling-face:before {
  content: "\f118";
}
.mbr-icon-sticky-note:before {
  content: "\f249";
}
.mbr-icon-align-right:before {
  content: "\f038";
}
.mbr-icon-exchange:before {
  content: "\f362";
}
.mbr-icon-minus:before {
  content: "\f068";
}
.mbr-icon-hashtag:before {
  content: "\f292";
}
.mbr-icon-bold:before {
  content: "\f032";
}
.mbr-icon-spell-check:before {
  content: "\f891";
}
.mbr-icon-angle-down:before {
  content: "\f107";
}
.mbr-icon-film:before {
  content: "\f008";
}
.mbr-icon-alternate-crop:before {
  content: "\f565";
}
.mbr-icon-star:before {
  content: "\f005";
}
.mbr-icon-at:before {
  content: "\f1fa";
}
.mbr-icon-address-card:before {
  content: "\f2bb";
}
.mbr-icon-comment:before {
  content: "\f075";
}
.mbr-icon-object-ungroup:before {
  content: "\f248";
}
.mbr-icon-filter:before {
  content: "\f0b0";
}
.mbr-icon-file-invoice:before {
  content: "\f570";
}
.mbr-icon-window-close:before {
  content: "\f410";
}
.mbr-icon-cogs:before {
  content: "\f085";
}
.mbr-icon-fill:before {
  content: "\f575";
}
.mbr-icon-video-file:before {
  content: "\f1c8";
}
.mbr-icon-undo:before {
  content: "\f0e2";
}
.mbr-icon-envelope:before {
  content: "\f0e0";
}
.mbr-icon-poll:before {
  content: "\f681";
}
.mbr-icon-pencil-ruler:before {
  content: "\f5ae";
}
.mbr-icon-briefcase:before {
  content: "\f0b1";
}
.mbr-icon-folder-open:before {
  content: "\f07c";
}
.mbr-icon-user-edit:before {
  content: "\f4ff";
}
.mbr-icon-hand-pointing-right:before {
  content: "\f0a4";
}
.mbr-icon-globe-with-americas-shown:before {
  content: "\f57d";
}
.mbr-icon-trash:before {
  content: "\f1f8";
}
.mbr-icon-user-cog:before {
  content: "\f4fe";
}
.mbr-icon-sort-amount-down:before {
  content: "\f160";
}
.mbr-icon-exclamation-triangle:before {
  content: "\f071";
}
.mbr-icon-shopping-cart-arrow-down:before {
  content: "\f218";
}
.mbr-icon-ruler-horizontal:before {
  content: "\f547";
}
.mbr-icon-pointer--hand-:before {
  content: "\f25a";
}
.mbr-icon-tasks:before {
  content: "\f0ae";
}
.mbr-icon-file-export:before {
  content: "\f56e";
}
.mbr-icon-tags:before {
  content: "\f02c";
}
.mbr-icon-camera:before {
  content: "\f030";
}
.mbr-icon-palette:before {
  content: "\f53f";
}
.mbr-icon-alternate-sort-amount-up:before {
  content: "\f885";
}
.mbr-icon-chevron-right:before {
  content: "\f054";
}
.mbr-icon-forward:before {
  content: "\f04e";
}
.mbr-icon-check:before {
  content: "\f00c";
}
.mbr-icon-route:before {
  content: "\f4d7";
}
.mbr-icon-arrow-right:before {
  content: "\f061";
}
.mbr-icon-images:before {
  content: "\f302";
}
.mbr-icon-layer-group:before {
  content: "\f5fd";
}
.mbr-icon-code-file:before {
  content: "\f1c9";
}
.mbr-icon-fill-drip:before {
  content: "\f576";
}
.mbr-icon-arrow-up:before {
  content: "\f062";
}
.mbr-icon-border-all:before {
  content: "\f84c";
}
.mbr-icon-puzzle-piece:before {
  content: "\f12e";
}
.mbr-icon-atom:before {
  content: "\f5d2";
}
.mbr-icon-step-forward:before {
  content: "\f051";
}
.mbr-icon-clipboard:before {
  content: "\f328";
}
.mbr-icon-sitemap:before {
  content: "\f0e8";
}
.mbr-icon-angle-right:before {
  content: "\f105";
}
.mbr-icon-horizontal-ellipsis:before {
  content: "\f141";
}
.mbr-icon-object-group:before {
  content: "\f247";
}
.mbr-icon-image:before {
  content: "\f03e";
}
.mbr-icon-dollar-sign:before {
  content: "\f155";
}
.mbr-icon-cloud-download:before {
  content: "\f381";
}
.mbr-icon-caret-up:before {
  content: "\f0d8";
}
.mbr-icon-chevron-down:before {
  content: "\f078";
}
.mbr-icon-money-check:before {
  content: "\f53c";
}
.mbr-icon-expand-arrows:before {
  content: "\f31e";
}
.mbr-icon-user-lock:before {
  content: "\f502";
}
.mbr-icon-quidditch:before {
  content: "\f458";
}
.mbr-icon-info:before {
  content: "\f129";
}
.mbr-icon-cubes:before {
  content: "\f1b3";
}
.mbr-icon-cube:before {
  content: "\f1b2";
}
.mbr-icon-history:before {
  content: "\f1da";
}
.mbr-icon-tools:before {
  content: "\f7d9";
}
.mbr-icon-sort:before {
  content: "\f0dc";
}
.mbr-icon-text-height:before {
  content: "\f034";
}
.mbr-icon-sort-up--ascending-:before {
  content: "\f0de";
}
.mbr-icon-user-plus:before {
  content: "\f234";
}
.mbr-icon-level-down:before {
  content: "\f3be";
}
.mbr-icon-tag:before {
  content: "\f02b";
}
.mbr-icon-arrows-horizontal:before {
  content: "\f337";
}
.mbr-icon-angle-left:before {
  content: "\f104";
}
.mbr-icon-shopping-cart:before {
  content: "\f07a";
}
.mbr-icon-grip-horizontal:before {
  content: "\f58d";
}
.mbr-icon-search:before {
  content: "\f002";
}
.mbr-icon-fast-backward:before {
  content: "\f049";
}
.mbr-icon-sort-amount-up:before {
  content: "\f161";
}
.mbr-icon-icons:before {
  content: "\f86d";
}
.mbr-icon-music:before {
  content: "\f001";
}
.mbr-icon-database:before {
  content: "\f1c0";
}
.mbr-icon-cut:before {
  content: "\f0c4";
}
.mbr-icon-alternate-redo:before {
  content: "\f2f9";
}
.mbr-icon-reply:before {
  content: "\f3e5";
}
.mbr-icon-home:before {
  content: "\f015";
}
.mbr-icon-caret-left:before {
  content: "\f0d9";
}
.mbr-icon-backward:before {
  content: "\f04a";
}
.mbr-icon-lock:before {
  content: "\f024";
}
.mbr-icon-align-center:before {
  content: "\f037";
}
.mbr-icon-exclamation:before {
  content: "\f12a";
}
.mbr-icon-laptop:before {
  content: "\f109";
}
.mbr-icon-credit-card:before {
  content: "\f09d";
}
.mbr-icon-external-link-square:before {
  content: "\f360";
}
.mbr-icon-align-left:before {
  content: "\f036";
}
.mbr-icon-pen-fancy:before {
  content: "\f5ac";
}
.mbr-icon-arrows-vertical:before {
  content: "\f338";
}
.mbr-icon-th:before {
  content: "\f00a";
}
.mbr-icon-list:before {
  content: "\f03a";
}
.mbr-icon-alternate-sort-amount-down:before {
  content: "\f884";
}
.mbr-icon-external-link:before {
  content: "\f35d";
}
.mbr-icon-vertical-ellipsis:before {
  content: "\f142";
}
.mbr-icon-long-arrow-left:before {
  content: "\f30a";
}
.mbr-icon-long-arrow-up:before {
  content: "\f30c";
}
.mbr-icon-marker:before {
  content: "\f5a1";
}
.mbr-icon-redo:before {
  content: "\f01e";
}
.mbr-icon-thumbtack:before {
  content: "\f08d";
}
.mbr-icon-thumbs-up:before {
  content: "\f164";
}
.mbr-icon-cloud-upload:before {
  content: "\f382";
}
.mbr-icon-th-large:before {
  content: "\f00b";
}
.mbr-icon-bar-chart:before {
  content: "\f080";
}
.mbr-icon-play:before {
  content: "\f04b";
}
.mbr-icon-shield:before {
  content: "\f3ed";
}
.mbr-icon-wrench:before {
  content: "\f0ad";
}
.mbr-icon-link:before {
  content: "\f0c1";
}
.mbr-icon-heart:before {
  content: "\f004";
}
.mbr-icon-shapes:before {
  content: "\f61f";
}
.mbr-icon-chevron-up:before {
  content: "\f077";
}
.mbr-icon-align-justify:before {
  content: "\f039";
}
.mbr-icon-alternate-comment:before {
  content: "\f27a";
}
.mbr-icon-alternate-list:before {
  content: "\f022";
}
.mbr-icon-search-plus:before {
  content: "\f00e";
}
.mbr-icon-table:before {
  content: "\f0ce";
}
.mbr-icon-times:before {
  content: "\f00d";
}
.mbr-icon-unlock:before {
  content: "\f09c";
}
.mbr-icon-step-backward:before {
  content: "\f048";
}
.mbr-icon-upload:before {
  content: "\f093";
}
.mbr-icon-alternate-share:before {
  content: "\f1e0";
}
.mbr-icon-arrows:before {
  content: "\f0b2";
}
.mbr-icon-adjust:before {
  content: "\f042";
}
.mbr-icon-download:before {
  content: "\f019";
}
.mbr-icon-retweet:before {
  content: "\f079";
}
.mbr-icon-code-branch:before {
  content: "\f126";
}
.mbr-icon-angle-up:before {
  content: "\f106";
}
.mbr-icon-long-arrow-down:before {
  content: "\f309";
}
.mbr-icon-file-download:before {
  content: "\f56d";
}
.mbr-icon-desktop:before {
  content: "\f108";
}
.mbr-icon-identification-card:before {
  content: "\f2c2";
}
.mbr-icon-paperclip:before {
  content: "\f0c6";
}
.mbr-icon-sync:before {
  content: "\f021";
}
.mbr-icon-paint-brush:before {
  content: "\f1fc";
}
.mbr-icon-file:before {
  content: "\f15b";
}
.mbr-icon-alternate-compress-arrows:before {
  content: "\f78c";
}
.mbr-icon-sun:before {
  content: "\f185";
}
.mbr-icon-share:before {
  content: "\f064";
}
.mbr-icon-hand-pointing-up:before {
  content: "\f0a6";
}
.mbr-icon-plus:before {
  content: "\f067";
}
.mbr-icon-compress:before {
  content: "\f066";
}
.mbr-icon-alternate-undo:before {
  content: "\f2ea";
}
.mbr-icon-question:before {
  content: "\f128";
}
.mbr-icon-caret-right:before {
  content: "\f0da";
}
.mbr-icon-pencil:before {
  content: "\f303";
}
.mbr-icon-paste:before {
  content: "\f0ea";
}
.mbr-icon-pen:before {
  content: "\f304";
}
.mbr-icon-edit:before {
  content: "\f044";
}
.mbr-icon-caret-down:before {
  content: "\f0d7";
}
.mbr-icon-horizontal-sliders:before {
  content: "\f1de";
}
.mbr-icon-sort-down--descending-:before {
  content: "\f0dd";
}
.mbr-icon-backspace:before {
  content: "\f55a";
}
.mbr-icon-crop:before {
  content: "\f125";
}
.mbr-icon-question-circle:before {
  content: "\f059";
}
.mbr-icon-eye:before {
  content: "\f06e";
}
.mbr-icon-frowning-face:before {
  content: "\f119";
}
.mbr-icon-user-check:before {
  content: "\f4fc";
}
.mbr-icon-cog:before {
  content: "\f013";
}
.mbr-icon-search-minus:before {
  content: "\f010";
}
.mbr-icon-broom:before {
  content: "\f51a";
}
.mbr-icon-fast-forward:before {
  content: "\f050";
}
.mbr-icon-brush:before {
  content: "\f55d";
}
.mbr-icon-code:before {
  content: "\f121";
}
.mbr-icon-vector-square:before {
  content: "\f5cb";
}
.mbr-icon-map-marker:before {
  content: "\f041";
}
.mbr-icon-file-import:before {
  content: "\f56f";
}
.mbr-icon-plus-circle:before {
  content: "\f055";
}
.mbr-icon-bookmark:before {
  content: "\f02e";
}
.mbr-icon-level-up:before {
  content: "\f3bf";
}
.mbr-icon-clipboard-list:before {
  content: "\f46d";
}
.mbr-icon-chevron-left:before {
  content: "\f053";
}
.mbr-icon-directions:before {
  content: "\f5eb";
}
.mbr-icon-recycle:before {
  content: "\f1b8";
}
.mbr-icon-infinity:before {
  content: "\f534";
}
.mbr-icon-stream:before {
  content: "\f550";
}
.mbr-icon-mobile-phone:before {
  content: "\f10b";
}
.mbr-icon-long-arrow-right:before {
  content: "\f30b";
}
.mbr-icon-alternate-trash:before {
  content: "\f2ed";
}
.mbr-icon-facebook-f:before {
  content: "\f39e";
}
.mbr-icon-instagram:before {
  content: "\f16d";
}
.mbr-icon-google-logo:before {
  content: "\f1a0";
}
.mbr-icon-github:before {
  content: "\f09b";
}
.mbr-icon-youtube:before {
  content: "\f167";
}
