& when not (@fullScreen) {
    padding-top: (@paddingTop * 1rem);
    padding-bottom: (@paddingBottom * 1rem);
  }
  & when (@bg-type = 'color') {
    background-color: @bg-value;
  }
  & when (@bg-type = 'image') {
    background-image: url(@bg-value);
  }
  .mbr-fallback-image.disabled {
    display: none;
  }
  .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    & when (@bg-type = 'video') {
      background-image: url(@fallBackImage);
    }
  }
  & when (@reverseContent) {
    .row {
      flex-direction: row-reverse;
    }
  }
  @media (max-width: 992px) {
    .mbr-figure {
      margin-top: 1.5rem;
    }
  }
  .row {
    align-items: center;
  }
  .text-wrapper {
    @media (min-width: 992px) {
      padding: 0 2rem;
    }
  }
  .media-content, .mbr-figure {
    align-self: center;
  }
  .mbr-figure iframe {
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
  }
  .mbr-figure {
    border-radius: 0rem;
    overflow: hidden;
    @media (min-width: 767px) {
      border-radius: 2rem;
    }
  }
.mbr-section-maintitle {
  text-align: center;
}
.mbr-section-title {
  text-align: left;
}
.mbr-text, .mbr-section-btn {
  text-align: left;
}
