<section group="Pricing Tables" class="pricing2" data-bg-video="{{bg.type == 'video' && bg.value.url}}"
    mbr-class="{'mbr-parallax-background':bg.parallax}">
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" name="fullWidth" title="Full Width">
        <input inline type="range" title="Top" name="paddingTop" min="0" max="10" step="1" value="5">
        <input inline type="range" title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5">
        <header>Show/Hide</header>
        <input type="checkbox" title="Buttons" name="showButtons" checked>
        <select title="Amount" name="itemsAmount">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
        </select>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background2.jpg">
            <input type="color" title="Color" value="#fafafa" selected>
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-center" mbr-class="{'col-lg-4': itemsAmount == 3,
                                            'col-lg-6': itemsAmount == 2,
                                            'col-lg-3': itemsAmount == 4}">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3" mbr-theme-style="display-5"
                            data-app-selector=".plan-title">
                            <b>Monthly</b>
                        </h6>
                        <div class="plan-price">
                            <p mbr-text class="price mbr-fonts-style m-0" mbr-theme-style="display-1"
                                data-app-selector=".price"><b>$19</b></p>
                            <p mbr-text class="price-term mbr-fonts-style mb-3" mbr-theme-style="display-7"
                                data-app-selector=".price-term"><b>Per month</b>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul mbr-text class="list-group mbr-fonts-style list-group-flush"
                                mbr-theme-style="display-7">
                                <li class="list-group-item">Code Editor
                                </li><li class="list-group-item">Mobirise Kit
                                </li><li class="list-group-item">Form Builder
                                </li><li class="list-group-item">Popup Builder</li>
                            </ul>
                        </div>
                        <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn text-center"
                            mbr-if="showButtons" data-toolbar="-mbrBtnMove">
                            <a href="https://mobiri.se" class="btn btn-primary"
                                data-app-placeholder="Type Text">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center" mbr-if="itemsAmount > 1" mbr-class="{'col-lg-4': itemsAmount == 3,
                                            'col-lg-6': itemsAmount == 2,
                                            'col-lg-3': itemsAmount == 4}">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3" mbr-theme-style="display-5"
                            data-app-selector=".plan-title">
                            <b>Yearly</b>
                        </h6>
                        <div class="plan-price">
                            <p mbr-text class="price mbr-fonts-style m-0" mbr-theme-style="display-1"
                                data-app-selector=".price"><b>$19</b></p>
                            <p mbr-text class="price-term mbr-fonts-style mb-3" mbr-theme-style="display-7"
                                data-app-selector=".price-term"><b>Per year</b>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul mbr-text class="list-group mbr-fonts-style list-group-flush"
                                mbr-theme-style="display-7">
                                <li class="list-group-item">Code Editor
                                </li><li class="list-group-item">Mobirise Kit
                                </li><li class="list-group-item">Form Builder
                                </li><li class="list-group-item">Popup Builder</li>
                            </ul>
                        </div>
                        <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn text-center"
                            mbr-if="showButtons" data-toolbar="-mbrBtnMove">
                            <a href="https://mobiri.se" class="btn btn-primary"
                                data-app-placeholder="Type Text">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center" mbr-if="itemsAmount > 2" mbr-class="{'col-lg-4': itemsAmount == 3,
                                            'col-lg-6': itemsAmount == 2,
                                            'col-lg-3': itemsAmount == 4}">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3" mbr-theme-style="display-5"
                            data-app-selector=".plan-title">
                            <b>Lifetime</b>
                        </h6>
                        <div class="plan-price">
                            <p mbr-text class="price mbr-fonts-style m-0" mbr-theme-style="display-1"
                                data-app-selector=".price"><b>$399</b></p>
                            <p mbr-text class="price-term mbr-fonts-style mb-3" mbr-theme-style="display-7"
                                data-app-selector=".price-term"><b>One time</b>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul mbr-text class="list-group mbr-fonts-style list-group-flush"
                                mbr-theme-style="display-7">
                                <li class="list-group-item">Code Editor
                                </li><li class="list-group-item">Mobirise Kit
                                </li><li class="list-group-item">Form Builder
                                </li><li class="list-group-item">Popup Builder</li>
                            </ul>
                        </div>
                        <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn text-center"
                            mbr-if="showButtons" data-toolbar="-mbrBtnMove">
                            <a href="https://mobiri.se" class="btn btn-primary"
                                data-app-placeholder="Type Text">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center" mbr-if="itemsAmount > 3" mbr-class="{'col-lg-4': itemsAmount == 3,
                                            'col-lg-6': itemsAmount == 2,
                                            'col-lg-3': itemsAmount == 4}">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3" mbr-theme-style="display-5"
                            data-app-selector=".plan-title">
                            <b>Free</b>
                        </h6>
                        <div class="plan-price">
                            <p mbr-text class="price mbr-fonts-style m-0" mbr-theme-style="display-1"
                                data-app-selector=".price"><b>$0</b></p>
                            <p mbr-text class="price-term mbr-fonts-style mb-3" mbr-theme-style="display-7"
                                data-app-selector=".price-term"><b>No payment</b>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul mbr-text class="list-group mbr-fonts-style list-group-flush"
                                mbr-theme-style="display-7">
                                <li class="list-group-item">Free themes</li>
                                <li class="list-group-item">Free extensions</li>
                                <li class="list-group-item">Free icons</li>
                                <li class="list-group-item">For non-profit projects</li>
                            </ul>
                        </div>
                        <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn text-center"
                            mbr-if="showButtons" data-toolbar="-mbrBtnMove">
                            <a href="https://mobiri.se" class="btn btn-primary"
                                data-app-placeholder="Type Text">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>