<section
  class="video04"
  group="Image & Video"
  mbr-class="{'mbr-parallax-background': bg.parallax}"
>
    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" value="6" step="1"condition="fullWidth==false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" value="6" step="1" condition="fullWidth==false">
        <input type="range" name="textWidth" title="Video" min="4" max="12" step="1" value="12">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Subtitle" name="showSubtitle" checked>
        <input type="checkbox" title="Description" name="showDescription" checked>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input
              type="image"
              value="../_images/background1.jpg"
              title="Image"
            >
            <input
              type="color"
              value="#ffffff"
              title="Color"
              selected
            >
        </fieldset>
        <input
          type="checkbox"
          title="Overlay"
          name="overlay"
          condition="bg.type !== 'color'"
          checked
        >
        <input
          type="color"
          title="Overlay Color"
          name="overlayColor"
          value="#ffffff"
          condition="overlay && bg.type !== 'color'"
        >
        <input
          type="range"
          inline
          title="Opacity"
          name="overlayOpacity"
          min="0"
          max="1"
          step="0.1"
          value="0.4"
          condition="overlay && bg.type !== 'color'"
        >
    </mbr-parameters>
    <div
      class="mbr-overlay"
      mbr-if="overlay && bg.type !== 'color'"
      opacity="{{overlayOpacity}}"
      bg-color="{{overlayColor}}"
    ></div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div
          class="mbr-section-head mb-5"
          mbr-if="showTitle || showSubtitle"
        >
            <h4
              class="mbr-section-title mbr-fonts-style mb-0 mt-0"
              data-app-selector=".mbr-section-title"
              mbr-theme-style="display-2"
              mbr-if="showTitle"
            >
                <b>View in Action</b>
            </h4>
            <h5
              class="mbr-section-subtitle mbr-fonts-style mt-4"
              data-app-selector=".mbr-section-subtitle"
              mbr-theme-style="display-7"
              mbr-if="showSubtitle"
            >
                Click on the video in this block to set the link to
                your own video.</h5>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-{{textWidth}} video-block">
                <div mbr-video class="video-wrapper">
                    <iframe src="https://www.youtube.com/watch?v=-BSQlJxCDcI&autoplay=1&loop=1"></iframe>
                </div>
                <p
                  class="mbr-text mt-3 mbr-fonts-style"
                  mbr-theme-style="display-4"
                  mbr-if="showDescription"
                  data-app-selector=".mbr-text"
                >
                    Video Description
                </p>
            </div>
        </div>
    </div>
</section>