<section class="features12" group="Features"
	mbr-class="{
    'mbr-fullscreen': fullScreen,
    'mbr-parallax-background': bg.parallax}">
	<mbr-parameters>
		<header>Size</header>
		<input type="checkbox" title="Full Width" name="fullWidth" />
		<input type="range" inline="" title="Top" name="paddingTop" min="0" max="10" step="1" value="6" />
		<input type="range" inline="" title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="6" />
		<header>Show/Hide</header>
		<input type="checkbox" name="showTitle" title="Title" checked="" />
		<input type="checkbox" name="showSubtitle" title="Subtitle" />
		<header>Cards</header>
		<input type="checkbox" name="autoSize" title="Auto Size" checked="" />
		<input
			type="range"
			name="imageHeight"
			title="Height"
			min="1"
			max="5"
			step="1"
			value="4"
			condition="autoSize && !(showButtons==false && showCardSubtitle==false && showCardTitle==false && showText==false)"
		/>
		<input type="checkbox" title="Spacing" name="spacing" checked="" />
		<input type="checkbox" name="showCardTitle" title="Title" checked="" />
		<input type="checkbox" name="showCardSubtitle" title="Subtitle" checked="" />
		<input type="checkbox" name="showText" title="Text" checked="" />
		<input type="checkbox" name="showButtons" title="Buttons" />
		<header>Background</header>
		<fieldset type="background" parallax name="bg" required="">
			<input type="image" title="Image" value="../_images/background1.jpg" />
			<input type="color" title="Color" value="#ffffff" selected="" />
		</fieldset>
		<input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" />
		<input
			type="color"
			title="Overlay Color"
			name="overlayColor"
			value="#edefeb"
			condition="overlay && bg.type == 'image'"
		/>
		<input
			type="range"
			inline=""
			title="Opacity"
			name="overlayOpacity"
			min="0"
			max="1"
			step="0.1"
			value="0.6"
			condition="overlay && bg.type == 'image'"
		/>
	</mbr-parameters>
	<div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'"></div>
	<div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
		<div class="row justify-content-center">
			<div class="col-12 content-head">
				<div class="mbr-section-head mb-5" mbr-if="showTitle || showSubtitle">
					<h4
						class="mbr-section-title mbr-fonts-style align-center mb-0"
						mbr-theme-style="display-2"
						mbr-if="showTitle"
						data-app-selector=".mbr-section-title"
					>
						<b>Creator spotlight</b>
					</h4>
					<h5
						class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4"
						mbr-theme-style="display-7"
						mbr-if="showSubtitle"
						data-app-selector=".mbr-section-subtitle"
					>
						To add more cards, hover on a card and click 'Add items'
					</h5>
				</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="item features-image col-12 col-md-6 col-lg-8">
				<div class="item-wrapper">
					<div class="item-img mb-3 img-big">
						<img src="../_images/hightlights/11.jpg" alt="Mobirise Website Builder" title="" />
					</div>
					<div
						class="item-content align-center"
						mbr-if="showCardTitle || showCardSubtitle || showText || showButtons"
					>
						<h5
							class="item-title mbr-fonts-style mb-3"
							mbr-theme-style="display-7"
							data-app-selector=".item-title"
							mbr-if="showCardTitle"
						>
							Creators
						</h5>
						<h6
							class="item-subtitle mbr-fonts-style mb-0"
							mbr-theme-style="display-5"
							data-app-selector=".item-subtitle"
							mbr-if="showCardSubtitle"
						>
							<b
								>Unveiling Photographic Creativity: Mastering the art of capturing light and shadows</b
							>
						</h6>
						<p
							class="mbr-text mbr-fonts-style mb-3 mt-3"
							mbr-if="showText"
							mbr-theme-style="display-7"
							data-app-selector=".mbr-text, .mbr-section-btn"
						>
							May 26, 2023
						</p>
						<div
						class="mbr-section-btn item-footer"
						mbr-if="showButtons"
						data-toolbar="-mbrBtnMove,-mbrBtnAdd"
						mbr-buttons=""
						mbr-theme-style="display-7"
					>
						<a href="" class="btn item-btn btn-black" data-app-placeholder="Type Text"
							>Start Now</a
						>
					</div>
					</div>
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-4">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="../_images/gallery/gallery03.jpg" alt="Mobirise Website Builder" title="" />
					</div>
					<div
						class="item-content align-center"
						mbr-if="showCardTitle || showCardSubtitle || showText || showButtons"
					>
						<h5
							class="item-title mbr-fonts-style mb-3"
							mbr-theme-style="display-7"
							data-app-selector=".item-title"
							mbr-if="showCardTitle"
						>
							Creators
						</h5>
						<h6
							class="item-subtitle mbr-fonts-style mb-0"
							mbr-theme-style="display-5"
							data-app-selector=".item-subtitle"
							mbr-if="showCardSubtitle"
						>
							<b>Style Through the Lens</b>
						</h6>
						<p
							class="mbr-text mbr-fonts-style mb-3 mt-3"
							mbr-if="showText"
							mbr-theme-style="display-7"
							data-app-selector=".mbr-text, .mbr-section-btn"
						>
							May 12, 2023
						</p>
						<div
						class="mbr-section-btn item-footer"
						mbr-if="showButtons"
						data-toolbar="-mbrBtnMove,-mbrBtnAdd"
						mbr-buttons=""
						mbr-theme-style="display-7"
					>
						<a href="" class="btn item-btn btn-black" data-app-placeholder="Type Text"
							>Start Now</a
						>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
