<section class="slider2" group="Sliders & Galleries">
    <mbr-parameters>
        <input type="id" name="sliderId">
        <header>Size</header>
        <input type="checkbox" name="fullWidth" title="Full Width">
        <input type="range" inline title="Height" name="carouselHeight" min="4" max="12" step="1" value="8">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5">
        <input type="range" name="textWidth" title="Width" min="4" max="12" step="1" value="10" condition="!fullWidth">
        <header>Carousel</header>
        <input type="checkbox" title="Fade Effect" name="fade">
        <input type="checkbox" title="Autoplay" name="autoplay">
        <input type="range" title="Interval" name="interval" min="3" max="10" value="5" step="1" condition="autoplay">
        <header>Slide</header>
        <input type="checkbox" title="Caption" name="showCaption" checked>
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Overlay" name="overlaySlide">
        <input type="color" title="Overlay Color" name="overlaySlideColor" value="#232323" condition="overlaySlide">
        <input type="range" inline title="Opacity" name="overlaySlideOpacity" min="0" max="1" step="0.1" value="0.6"
            condition="overlaySlide">
        <header>Background</header>
        <input type="color" title="Color" name="bgColor" value="#ffffff" selected>
    </mbr-parameters>

    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>
    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="col-12 col-md-{{textWidth}}" mbr-class="{'col-lg-12':fullWidth}">
                <div id={{sliderId}} class="carousel slide" mbr-class="{'carousel-fade': fade}"
                    data-ride="{{autoplay ? 'carousel' : false}}" data-interval="{{interval*1000}}">
                    <ol class="carousel-indicators">
                        <li data-target="#{{sliderId}}" data-slide-to="0" class="active"></li>
                        <li data-target="#{{sliderId}}" data-slide-to="1"></li>
                        <li data-target="#{{sliderId}}" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item slider-image item active">
                            <div class="item-wrapper">
                                <div class="mbr-overlay" mbr-if="overlaySlide"
                                    mbr-style="{'opacity': overlaySlideOpacity, 'background-color': overlaySlideColor}">
                                </div>
                                <img class="d-block w-100" src="../_images/background3.jpg"
                                    alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block" mbr-if="showCaption || showText">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style" mbr-if="showCaption"
                                        mbr-theme-style="display-5">
                                        <b>Fixed-Height Slider</b>
                                    </h5>
                                    <p class="mbr-section-text mbr-fonts-style" mbr-if="showText"
                                        mbr-theme-style="display-7">
                                        Click on the image to edit slides.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <div class="mbr-overlay" mbr-if="overlaySlide"
                                    mbr-style="{'opacity': overlaySlideOpacity, 'background-color': overlaySlideColor}">
                                </div>
                                <img class="d-block w-100" src="../_images/background5.jpg"
                                    alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block" mbr-if="showCaption || showText">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style" mbr-if="showCaption"
                                        mbr-theme-style="display-5">
                                        <b>Fixed-Height Slider</b>
                                    </h5>
                                    <p class="mbr-section-text mbr-fonts-style" mbr-if="showText"
                                        mbr-theme-style="display-7">
                                        Click on the image to edit slides.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slider-image item">
                            <div class="item-wrapper">
                                <div class="mbr-overlay" mbr-if="overlaySlide"
                                    mbr-style="{'opacity': overlaySlideOpacity, 'background-color': overlaySlideColor}">
                                </div>
                                <img class="d-block w-100" src="../_images/background8.jpg"
                                    alt="Mobirise Website Builder">
                                <div class="carousel-caption d-none d-md-block" mbr-if="showCaption || showText">
                                    <h5 class="mbr-section-subtitle mbr-fonts-style" mbr-if="showCaption"
                                        mbr-theme-style="display-5">
                                        <b>Fixed-Height Slider</b>
                                    </h5>
                                    <p class="mbr-section-text mbr-fonts-style" mbr-if="showText"
                                        mbr-theme-style="display-7">
                                        Click on the image to edit slides.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control carousel-control-prev" href="#{{sliderId}}" role="button"
                        data-slide="prev">
                        <span class="mobi-mbri mobi-mbri-arrow-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control carousel-control-next" href="#{{sliderId}}" role="button"
                        data-slide="next">
                        <span class="mobi-mbri mobi-mbri-arrow-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>