<section class="form4" group="Forms" data-bg-video="{{bg.type == 'video' && bg.value.url}}" mbr-class="{
    'mbr-fullscreen': fullScreen,
    'mbr-parallax-background': bg.parallax}">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen" checked>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5"
            condition="fullScreen == false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5"
            condition="fullScreen == false">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Text" name="showText" checked>
        <header>Background</header>
        <input type="color" name="bgColor" title="Color" value="#fafafa" selected>
    </mbr-parameters>

    <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'" opacity="{{overlayOpacity}}"
        bg-color="{{overlayColor}}"></div>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row content-wrapper justify-content-center">
            <div mbr-form="" class="col-lg-3 offset-lg-1 mbr-form">
                <form action="" name="Form Name" method="POST" class="mbr-form form-with-styler">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">
                            Thanks for filling out the form!
                        </div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h1 mbr-theme-style="display-2" class="mbr-section-title mb-4"
                                data-app-selector=".mbr-section-title" mbr-if="showTitle">
                                <b>Contact Us</b>
                            </h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p mbr-theme-style="display-7" class="mbr-text mbr-fonts-style mb-4"
                                data-app-selector=".mbr-text" mbr-if="showText">
                                Fill this form and we'll get back to you soon.</p>
                        </div>
                        <div class="col-lg-12 col-md col-12 form-group" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="">
                        </div>
                        <div class="col-lg-12 col-md col-12 form-group" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="">
                        </div>
                        <div mbr-buttons="true" mbr-theme-style="display-4"
                            data-toolbar="-mbrBtnMove,-mbrLink,-mbrBtnRemove,-mbrBtnAdd"
                            class="col-12 col-md-auto mbr-section-btn">
                            <a data-toolbar="-mbrBtnMove,-mbrLink,-mbrBtnRemove,-mbrBtnAdd" type="submit"
                                class="btn btn-secondary">Submit</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-7 offset-lg-1 col-12">
                <div class="image-wrapper">
                    <img class="w-100" src="../_images/square/sq3.jpg" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>