<section class="info3" group="Features" data-bg-video="{{bg.type == 'video' && bg.value.url}}"
    mbr-class="{'mbr-parallax-background': bg.parallax}" plugins="mobirise-icons2">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="9" step="1" value="6">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="9" step="1" value="6">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Buttons" name="showButtons" checked>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background4.jpg" selected>
            <input type="color" title="Color" value="#232323">
            <input type="video" title="Video" value="https://vimeo.com/428046504">
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background13.jpg" name="fallBackImage" condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#4479d9"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.6"
            condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
        mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4" mbr-theme-style="display-1"
                            mbr-if="showTitle" data-app-selector=".card-title, .card-box">
                            <b>Themes and Extensions</b>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4" mbr-theme-style="display-7" mbr-if="showText"
                            data-app-selector=".card-box .mbr-text, .mbr-section-btn">
                            2500+ beautiful website blocks, templates and themes help you start easily.</p>
                        <div mbr-buttons mbr-theme-style="display-4"
                            data-toolbar="-mbrBtnAdd, -mbrBtnMove, -mbrBtnRemove" class="mbr-section-btn mt-3"
                            mbr-if="showButtons">
                            <a class="btn btn-warning" href="https://mobiri.se" data-app-placeholder="Type Text">Buy
                                Mobirise Kit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>