<section class="footer5" group="footer5" mbr-class="{'mbr-reveal': reveal, 'mbr-parallax-background': bg.parallax}"
    global once="footers">

    <mbr-parameters>
        <!-- Block parameters controls (Blue "Gear" panel) -->
        <header>Size</header>
        <input type="checkbox" title="Full Width" name="fullWidth">
        <input type="range" inline title="Top" name="paddingTop" min="0" max="8" step="1" value="3">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="8" step="1" value="3">
        <input type="range" inline title="Logo Size" name="logoSize" min="1" max="3" step="1" value="2">
        <header>Show/Hide</header>
        <input type="checkbox" title="Copyright" name="showCopyright" checked>
        <input type="checkbox" title="Social" name="showSocial" checked>
        <input type="range" name="socialCount" title="Social Count" min="1" max="6" step="1" value="6"
            condition="showSocial">
        <input type="checkbox" title="Reveal effect" name="reveal">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background5.jpg">
            <input type="color" title="Color" value="#ffffff" selected>
        </fieldset>
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#efefef"
            condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.5"
            condition="overlay && bg.type !== 'color'">
        <!-- End block parameters -->
    </mbr-parameters>

    <div class="mbr-overlay" mbr-if="overlay && bg.type !== 'color'" opacity="{{overlayOpacity}}"
        bg-color="{{overlayColor}}"></div>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="media-container-row">
            <div class="col-md-{{logoSize}} col-6">
                <div class="media-wrap">
                    <a href="https://mobirise.co/">
                        <img src="../_images/logo.png" alt="Mobirise Website Builder">
                    </a>
                </div>
            </div>
            <div class="col-{{12-logoSize}} col-6">
                <p class="mbr-text align-right links mbr-fonts-style" mbr-theme-style="display-7"
                    data-app-selector=".links">
                    <a href="#" class="text-black">About</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">Terms</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">Careers</a> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="text-black">Contact</a>
                </p>
            </div>
        </div>
        <!-- <div class="media-container-row">
            <div class="col-md-12"> -->
        <div class="footer-lower" mbr-if="showCopyright">
            <div class="media-container-row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row">
                <div class="col-md-6 copyright">
                    <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".copyright > p">
                        © Copyright 2025 Mobirise - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right" mbr-if="showSocial">
                        <div class="soc-item" mbr-if="socialCount>0">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span mbr-icon class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item" mbr-if="socialCount>1">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span mbr-icon class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item" mbr-if="socialCount>2">
                            <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                <span mbr-icon class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item" mbr-if="socialCount>3">
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span mbr-icon
                                    class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item" mbr-if="socialCount>4">
                            <a href="https://www.behance.net/Mobirise" target="_blank">
                                <span mbr-icon class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item" mbr-if="socialCount>5">
                            <a href="https://vimeo.com/mobirise" target="_blank">
                                <span mbr-icon class="socicon-vimeo socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div>
            </div> -->
        </div>

    </div>
</section>